/********************************************** */
/* initialisation                                                              */
/********************************************** */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000335}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000346}}
html {
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000353}}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000358}}
body {
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000370}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000373}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000376}}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000380}}
caption, th, td {
  font-weight: normal;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000385}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000388}}
blockquote, q {
  quotes: "" "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000391}}
a:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000395}}
a:hover,
a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\0000398}}
a img {
  border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003109}}
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003116}}
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003119}}
p {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003122}}
b, strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003125}}
dfn, cite, em, i {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003128}}
blockquote {
  margin: 0 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003131}}
address {
  margin: 0 0 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003134}}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003145}}
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003148}}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003152}}
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003157}}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003164}}
sup {
  bottom: 1ex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003167}}
sub {
  top: .5ex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003170}}
small {
  font-size: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003173}}
big {
  font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003180}}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003186}}
ul, ol {
  margin: 0 0 1.5em 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003189}}
ul {
  list-style: disc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003192}}
ol {
  list-style: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003196}}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003200}}
dt {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003203}}
dd {
  margin: 0 1.5em 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003206}}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003210}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003213}}
table {
  margin: 0 0 1.5em;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003217}}
th {
  font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003227}}
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003235}}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003253}}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003264}}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003269}}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003272}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003278}}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003282}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003291}}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003301}}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003308}}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003311}}
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003324}}
a {
  color: royalblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003327}}
a:visited {
  color: purple;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003332}}
a:hover,
a:focus,
a:active {
  color: midnightblue;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003339}}
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003345}}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003350}}
.main-navigation li {
  float: left;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003354}}
.main-navigation a {
  display: block;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003358}}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  position: absolute;
  top: 1.5em;
  z-index: 99999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003367}}
.main-navigation ul ul ul {
  left: 100%;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003371}}
.main-navigation ul ul a {
  width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003382}}
.main-navigation ul li:hover > ul {
  display: block;
}

/* Small menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003389}}
.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003394}}
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003398}}
  .main-navigation ul {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003404}}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003410}}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003416}}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003426}}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003436}}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003458}}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003463}}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003468}}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003488}}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003498}}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003505}}
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003510}}
.widget select {
  max-width: 100%;
}

/* Search widget */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003515}}
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003527}}
.hentry {
  margin: 0 0 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003531}}
.byline,
.updated {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003535}}
.single .byline,
.group-blog .byline {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003540}}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003543}}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003552}}
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003559}}
.comment-content a {
  word-wrap: break-word;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003570}}
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003574}}
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003583}}
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003592}}
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003599}}
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003603}}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003607}}
.wp-caption-text {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003610}}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003617}}
.gallery {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003620}}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003626}}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003629}}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003632}}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003635}}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003638}}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003641}}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003644}}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_defaults\.scss}line{font-family:\00003647}}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_grid\.scss}line{font-family:\000032}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* type settings */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_type\.sass}line{font-family:\000033}}
h1, h2, h3, h4, h5, h6 {
  font-family: "lexia", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_type\.sass}line{font-family:\000036}}
p, ul li, ol li, a {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_type\.sass}line{font-family:\0000311}}
.header-nav li {
  margin-right: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_type\.sass}line{font-family:\0000313}}
.header-nav li a {
  font-family: "lexia", serif;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_type\.sass}line{font-family:\0000320}}
.header-nav a:hover {
  background-color: white;
  color: black;
  border-top: 1px solid #abdbcf;
  border-right: 1px solid #abdbcf;
  border-left: 1px solid #abdbcf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000310}}
body {
  background-color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000313}}
html, body {
  margin: 0 !important;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000317}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000320}}
.inner-row {
  *zoom: 1;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
  max-width: 1024px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000318}}
.inner-row:before, .inner-row:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000323}}
.inner-row:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000328}}
.group:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000333}}
.tplus {
  display: none;
}

/********************************************** */
/* initialisation ends                                                   */
/********************************************** */
/********************************************** */
/* global page header                                                */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000344}}
#masthead {
  min-height: 300px;
  background-image: url("../img/social-scene-big.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000350}}
#global-header {
  *zoom: 1;
  display: block;
  background-color: rgba(230, 237, 232, 0.9);
  overflow: hidden;
  border-bottom: 1px solid #abdbcf;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000318}}
#global-header:before, #global-header:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000323}}
#global-header:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000355}}
#global-header .identity {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_span-columns\.scss}line{font-family:\0000340}}
#global-header .identity:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000358}}
#global-header .mobile-nav-button-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: block;
  height: 84px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_span-columns\.scss}line{font-family:\0000340}}
#global-header .mobile-nav-button-container:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000362}}
#global-header .mobile-nav-button-container a {
  position: absolute;
  top: 8px;
  right: 1%;
  height: 100%;
  width: 50%;
  overflow: hidden;
  height: 70px;
  background-image: url(../img/navburger.png);
  background-repeat: no-repeat;
  background-position: right center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000374}}
#ubermenu {
  display: none;
}

/********************************************** */
/*           lots of fontpage stuff ...                             */
/********************************************** */
/********************************************** */
/*           header social links                                        */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000387}}
#mobile-social-links-header ul {
  list-style: none;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000395}}
#mobile-social-links-header ul li {
  height: 22px;
  min-width: 20px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000399}}
#mobile-social-links-header ul li a {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("../img/sprites/social-icons.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003105}}
#mobile-social-links-header {
  /********************************************** */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003106}}
#mobile-social-links-header .social-link-fb a {
  background-position: 0px -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003108}}
#mobile-social-links-header .social-link-tw a {
  background-position: -22px -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003110}}
#mobile-social-links-header .social-link-instagram a {
  background-position: -47px -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003112}}
#mobile-social-links-header .social-link-flickr a {
  background-position: -73px -3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003114}}
#mobile-social-links-header .social-link-gp a {
  background-position: -96px -3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003116}}
#mobile-social-links-header .social-link-yelp {
  width: 42px;
  height: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003119}}
#mobile-social-links-header .social-link-yelp a {
  background-position: -120px 0px;
}

/*   frontpage masthead calls to action              */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003127}}
.masthead-calls {
  margin-top: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003129}}
.masthead-calls .call-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_span-columns\.scss}line{font-family:\0000340}}
.masthead-calls .call-container:last-child {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003132}}
.call-container #party {
  background-color: white;
  padding: 5%;
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003136}}
.call-container #party p {
  font-size: 14px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003140}}
.call-container #party header h3 {
  font-family: "fertigo-pro", sans-serif;
  color: #00837d;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003144}}
.call-container #party footer {
  background-color: #e86d20;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003146}}
.call-container #party footer a {
  color: white;
  font-family: "fertigo-pro", sans-serif;
  text-decoration: none;
  font-size: 16px;
  margin-right: 30px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003153}}
.home #join-email-list {
  margin-bottom: 18px;
  padding: 1%;
  background-color: rgba(188, 188, 188, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003157}}
.home #join-email-list span {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  background-color: white;
  font-size: 14px;
  height: 40px;
  line-height: 2.8;
  width: 98%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003168}}
.home #join-email-list input {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
  display: block;
  text-align: center;
  background-color: rgba(0, 131, 125, 0.7);
  color: white;
  font-family: "fertigo-pro", sans-serif;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003179}}
.home #join-email-list input::input-placeholder {
  color: white;
  font-family: "fertigo-pro", sans-serif;
  padding-left: 8px;
  font-size: 14px;
  line-height: 2.4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003185}}
.home #join-email-list input::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  line-height: 2.4;
  padding-left: 8px;
  font-family: "fertigo-pro", sans-serif;
  font-size: 14px;
  line-height: 2.4;
}

/********************************************** */
/*   frontpage filling station section                   */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003199}}
#filling-station-intro {
  padding-top: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003201}}
#filling-station-intro header {
  background-color: #260e02;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 12px solid #f9cccf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003208}}
#filling-station-calls {
  padding-top: 24px;
  padding-bottom: 56px;
  padding-bottom: 24px;
  background-color: #eda4b7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003213}}
#filling-station-calls h2 {
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003218}}
#filling-station-calls p {
  padding-bottom: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003220}}
#filling-station-calls p a {
  display: inline-block;
  float: left;
  width: 50%;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid white;
  background-color: #d795a3;
  color: white;
  font-size: 16px;
  text-decoration: none;
  width: 50%;
  text-align: center;
  font-family: "fertigo-script";
  font-weight: 400;
}

/********************************************** */
/*           mobile navigation menu                             */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003240}}
#mobile-nav-menu {
  display: none;
  background-color: #456867;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003243}}
#mobile-nav-menu ul, #mobile-nav-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003247}}
#mobile-nav-menu #menu-main-menu {
  padding-top: 14px;
  padding-bottom: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003250}}
#mobile-nav-menu #menu-main-menu li {
  position: relative;
  border-bottom: 1px solid #344b4a;
  border-top: 1px solid #608584;
  padding-right: 12px;
  padding-left: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003256}}
#mobile-nav-menu #menu-main-menu li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

/********************************************** */
/*           #frontpage-events-list                            */
 * /*********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003271}}
.events-row {
  *zoom: 1;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
  max-width: 1024px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000318}}
.events-row:before, .events-row:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000323}}
.events-row:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003279}}
#frontpage-events {
  padding-top: 14px;
  background-color: #d5d5d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003282}}
#frontpage-events h2 {
  padding-bottom: 14px;
  color: #037b71;
}

/********************************************** */
/*           frontpage events                                           */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003291}}
#frontpage-events {
  background-color: white;
  border-top: 1px solid grey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003294}}
#frontpage-events ul {
  position: relative;
  margin: 0;
  list-style: none;
  background: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003299}}
#frontpage-events ul li {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  text-align: center;
  margin-bottom: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003306}}
#frontpage-events ul li span {
  font-family: "lexia", sans-serif;
  font-size: 14px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003311}}
.events-row .pointer {
  display: none;
}

/********************************************** */
/*   frontpage sponsers                                              */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003318}}
.home #sponsers {
  padding-top: 48px;
  padding-bottom: 28px;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003322}}
.home #sponsers h2 {
  padding-bottom: 24px;
}

/********************************************** */
/* global  footer                                                              */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003330}}
#global-footer {
  background-color: #3a5c5b;
  padding-top: 28px;
  padding-bottom: 14px;
  color: white;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003336}}
#global-footer .footer-col {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #1d4544;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003340}}
#global-footer .footer-col #footer-contact {
  font-family: "lexia", sans-serif;
  font-weight: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003344}}
#global-footer #footer-news h3 {
  text-transform: uppercase;
  padding-bottom: 12px;
  font-family: "lexia", sans-serif;
  font-weight: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003349}}
#global-footer #footer-news article {
  border-bottom: 1px solid #1d4544;
  padding-top: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003352}}
#global-footer #footer-news a {
  text-decoration: none;
  font-family: "lexia", sans-serif;
  font-weight: 400;
  color: white;
}

/********************************************** */
/* now we include styles for wider screens     */
/********************************************** */
@media all and (min-width: 768px) {
  /*  settings for 'tablet width' and up */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\000033}}
  .home #masthead {
    height: 890px;
  }

  /* header navigation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\000037}}
  #global-header {
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\000039}}
  #global-header .mobile-nav-button-container {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000311}}
  #global-header .nav-and-social {
    display: display;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_span-columns\.scss}line{font-family:\0000340}}
  #global-header .nav-and-social:last-child {
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000316}}
  .header-nav {
    position: absolute;
    bottom: 0;
    right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000320}}
  .header-nav li {
    list-style: none;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000323}}
  .header-nav a {
    display: block;
    padding: 8px;
    color: #007f70;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000329}}
  #ubermenu {
    background-color: white;
    position: absolute;
    right: 40px;
    top: 85px;
    height: 180px;
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000339}}
  #ubermenu section {
    overflow: visible;
    float: left;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000347}}
  #ubermenu section.left header {
    background-color: #00837d;
    padding: 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000350}}
  #ubermenu section.left header h3 {
    color: white;
    font-family: "fertigo-pro", sans-serif;
    font-style: italic;
    font-size: 14px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000355}}
  #ubermenu section.left section.right {
    padding-top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000358}}
  #ubermenu li {
    height: 16px;
    margin-bottom: 12px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000361}}
  #ubermenu li a {
    background-color: #dedede;
    height: 14px;
    line-height: 0;
    padding: 0;
    margin: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000368}}
  #ubermenu .nav-left {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000371}}
  #ubermenu .nav-right {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000378}}
  #ubermenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000382}}
  #ubermenu ul li {
    list-style: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000384}}
  #ubermenu ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #008276;
  }

  /********************************************** */
  /*   header social links                                              */
  /********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000393}}
  #mobile-social-links-header {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000397}}
  #global-header .nav-and-social ul#social-links {
    float: right;
    margin-top: 10px;
    margin-right: -40px !important;
    list-style: none;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003106}}
  #global-header .nav-and-social ul#social-links li {
    height: 22px;
    min-width: 20px;
    display: inline-block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003110}}
  #global-header .nav-and-social ul#social-links li a {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../img/sprites/social-icons.png");
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003117}}
  .nav-and-social #social-links .social-link-fb a {
    background-position: 0px -2px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003119}}
  .nav-and-social #social-links .social-link-tw a {
    background-position: -22px -2px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003121}}
  .nav-and-social #social-links .social-link-instagram a {
    background-position: -47px -2px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003123}}
  .nav-and-social #social-links .social-link-flickr a {
    background-position: -73px -3px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003125}}
  .nav-and-social #social-links .social-link-gp a {
    background-position: -96px -3px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003127}}
  .nav-and-social #social-links .social-link-yelp {
    width: 42px;
    height: 24px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003130}}
  .nav-and-social #social-links .social-link-yelp a {
    background-position: -120px 0px;
  }

  /********************************************** */
  /*   frontpage masthead calls to action              */
   * /*********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003138}}
  .masthead-calls {
    margin-top: 540px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003140}}
  .masthead-calls .call-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_span-columns\.scss}line{font-family:\0000340}}
  .masthead-calls .call-container:last-child {
    margin-right: 0;
  }

  /********************************************** */
  /*           frontpage events                                           */
  /********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003149}}
  #frontpage-events .events-row {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003151}}
  #frontpage-events .events-row .pointer {
    display: block;
    float: left;
    background-color: #addb9b;
    height: 144px;
    width: 10%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003158}}
  #frontpage-events .events-row ul {
    position: relative;
    float: left;
    width: 80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003162}}
  #frontpage-events .events-row ul li {
    display: inline-block;
    width: 22%;
  }

  /********************************************** */
  /*           frontpage filling-station stuff                 */
  /********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003171}}
  #filling-station-intro header, #filling-station-intro #filling-station-calls {
    float: left;
    width: 50%;
    overflow: visible;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003175}}
  #filling-station-intro header {
    border-bottom: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003178}}
  #filling-station-intro #filling-station-calls p {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003183}}
  #filling-station-intro #filling-station-calls p a {
    width: 45%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003185}}
  #filling-station-intro #filling-station-calls p .first {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003187}}
  #filling-station-intro #filling-station-calls p .second {
    float: right;
  }

  /********************************************** */
  /*   frontpage sponsers                                              */
  /********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003195}}
  .home .sponser-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 530px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003201}}
  .home .sponser-container section {
    display: inline;
    width: 50%;
    text-align: center;
  }

  /********************************************** */
  /*   footer stuffz                                                              */
  /********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003210}}
  #global-footer {
    *zoom: 1;
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000318}}
  #global-footer:before, #global-footer:after {
    content: " ";
    display: table;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000323}}
  #global-footer:after {
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003212}}
  #global-footer #footer-contact {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_span-columns\.scss}line{font-family:\0000340}}
  #global-footer #footer-contact:last-child {
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003214}}
  #global-footer #footer-news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_span-columns\.scss}line{font-family:\0000340}}
  #global-footer #footer-news:last-child {
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003216}}
  #global-footer #outreach {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    background-color: #dddddd;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/neat\/grid\/_span-columns\.scss}line{font-family:\0000340}}
  #global-footer #outreach:last-child {
    margin-right: 0;
  }
}
@media all and (min-width: 960px) {
  /* desktop and wider */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_desktop\.sass}line{font-family:\000034}}
  #global-header .mobile-nav-button-container {
    display: none;
  }
}
