.home #masthead {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/header-home-2560.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: initial;  
}




#masthead-map {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1020px;
  height: 340px;	
  background-position: top center;
  background-repeat: no-repeat;
}


.call-container #party footer a {
	font-family: "fertigo-script", sans-serif;
}
.footer-copyright p {
	color: #fff;
	font-family: "lexia", sans-serif;
	margin-bottom: 0;
}
.footer-copyright:last-child {
	margin-right: 0;
	margin-top: 30px;
}
.renewal {
	text-transform: uppercase;
}

#ubermenu .nav-right ul {
	margin-left: 15px;
}

.bottom-row p {
	color: #fff;
}
.bottom-row p a {
	text-decoration: none;
}

#presentedby, #sponsoredby {
	text-align: center;
	color: #000000;
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
}
#presentedby img, #sponsoredby img {
	margin-top: 4px;
}
#sponsoredby {
	margin-top: 4px;
	margin-bottom: 2px;	
}
.entry-content h3 {
	font-size: 14px;
	font-weight: 700;
}
.entry-content p {
	color: #000;
}
#pickleball-rules-table ol {
	padding-left: 45px;
	list-style-position: outside;

}


#email, #email-footer {	
	font-size: 10pt;
	line-height: 10;
}
#join-email-list span {
	font-size: 18px;
	line-height: 40px;
}

#join-email-list div.first {
	height: 42px;
}

#global-footer #footer-email-invitation .second {
	height: inherit;
}

.footer-contact-links .third {
	width: 96px; height: 76px;
	background-image: url("../img/larkindg-logo.png");
	background-repeat: no-repeat;
}

#ubermenu section.left header a {
	text-decoration: none;
}

#ubermenu #sponsors {
	margin-top: 30px;
}
#ubermenu section.left header {
	margin-bottom: 10px;
}

#ubermenu section.left {
	width: 40%;
}
#ubermenu section.right {
	width: 60%;
}
#ubermenu section.right .nav-left {
	margin-left: 10px;
}
#ubermenu section.right .nav-right {
	right: 20px;
}

#ubermenu2 {
  display: none;
  z-index: 300;
}
  /********************************************** */
  /*  ubermenu                                                                   */
  /********************************************** */

  #ubermenu2 {
    background-color: white;
    position: absolute;
    right: 10px;
    top: 85px;
    height: 175px;
    width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
  }


  #ubermenu2 section.left {
    position: relative;
    padding-left: 0px;
    padding-right: 10px;
  }

  #ubermenu2 section.left header {
    background-color: #00837d;
    padding-top: 15px;
    padding-bottom: 12px;
    margin-bottom: 18px;
  }
  
  #ubermenu2 section.left header h3 {
    color: white;
    font-family: "fertigo-pro", sans-serif;
    font-style: italic;
    font-size: 14px;
    text-align: center;
  }

  #ubermenu2 section.left section.right {
    padding-top: 0;
  }


  #ubermenu2 li {
    height: 16px;
    margin-bottom: 12px;
  }

  #ubermenu2 li a {
    height: 14px;
    line-height: 0;
    padding: 0;
    margin: 0;
  }

  #ubermenu2 .nav-left {
    width: 50%;
  }
  #ubermenu2 .nav-bottom {
    width: 100%;
    background-color: #006666;
    text-align:center;
    height: 30px;
  }




  #ubermenu2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #ubermenu2 ul li {
    list-style: none;
  }
  
  #ubermenu2 ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #008276;
  }

  #ubermenu2 ul.indented {
  	margin-left: 18px;
  }
  #ubermenu2 ul.indented li.indented {
  	margin-bottom: 0px;
  }
.nav-ubermenu2-callouts {
	float: left; padding: 5px;
}
.nav-ubermenu2-callouts a {
	text-decoration: none;	
}
 .nav-ubermenu-callout-image {
	width: 110px;
	height: 65px;
 } 
 .nav-ubermenu-callout-text {
	color: #009194;
	margin-top: 8px;	
	width: 110px;
	text-align: center;	
 }
 .nav-ubermenu-callout-text-on {
	font-weight: 700;
 }

 #nav-ubermenu-fillingstation-image { 
	background: url("../img/events/ToDo-FillingStation.png") no-repeat center 0px;	
 }

 #nav-ubermenu-authorseries-image { 
	background: url("../img/events/ToDo-Author-Series.png") no-repeat center 0px;	
 }
 #nav-ubermenu-foodtrucktuesdays-image { 
	background: url("../img/events/ToDo-Food-Truck-Tuesday.png") no-repeat center 0px;	
 }
 #nav-ubermenu-liveatlarkin-image { 
	background: url("../img/events/ToDo-LiveAtLarkin.png") no-repeat center 0px;	
 }
 #nav-ubermenu-pickleball-image { 
	background: url("../img/events/ToDo-Pickleball.png") no-repeat center 0px;	
 }
 #nav-ubermenu-marketplace-image { 
	background: url("../img/events/ToDo-Larkin-Market.png") no-repeat center 0px;	
 }
.ubermenu2-left {
	width: 160px;
	float: left;
	margin-top: 10px;	
}
.ubermenu2-right {
	width: 760px;
	float: left;
}
#ubermenu .nav-right {
	height: 160px;
	background-size: 86%;
}
 .bottom {
	clear: both;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 28px
 }

.directions-and-parking .post .entry-content {
	font-family: "lexia", sans-serif;    	
	color: #00837d;
	font-size: 14px;
}
.directions-and-parking .post div {
	float: left;
	font-family: "lexia", sans-serif;    	
	color: #00837d;
	font-size: 14px;	
}

.directions-and-parking .sidebar-half h2 {
	font-size: 14px;
	font-weight: 700;
}
.directions-and-parking .sidebar-half h3 {
	font-size: 12px;
	font-weight: 700;
	color: #000;
}

#ubermenu .nav-right {
	top: 24px;
}

.home #sponsers {
	text-align: center;
}
#sponsers h2 {
	font-family: "fertigo-script", sans-serif;

}

#presentedby-big, #sponsoredby-big {
	text-align: center;
	color: #000000;
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 18px;
line-height: 24px;

}
#presentedby-big img, #sponsoredby-big img {
	margin-top: 10px;
}
#sponsoredby-big {
	margin-top: 15px;
	margin-bottom: 2px;	
}


p {
	color: #00837d;
}


#button-getdirections {
	background-color: #00837d;
    margin-left: 40px;
    height: 38px; width: 128px;
    text-align: center;
	margin-top: 10px;  
	padding-top: 9px;	  
}

#button-getdirections a {
    color: white;
	font-family: "lexia", sans-serif;    
	font-size: 14px;
    text-decoration: none
  }
  
  /********************************************** */
/*   Contact page                                                  */
 * /*********************************************** */

.contact #masthead {

}
.contact .post {
  background: url("../img/illustrations/computer.png") no-repeat top right;
  background-size: 23%;
}


.contact input, .contact textarea, .contact select {
	background-color: #e7eee9;
	font-size: 15px;
	font-family: "lexia", sans-serif;
	color: #00837d;
	width: 85%;
}

.contact .wpcf7-list-item-label  {
	font-size: 15px;
	font-family: "lexia", sans-serif;
	color: #00837d;
}
.contact select {
	margin-bottom: 10px;
}
.contact textarea {
	width: 85%;
}
.contact #mailing-list input {
	width: 5%;
}

.contact .wpcf7-submit {
  	background-image: url("../img/button-send.png");
  	height: 41px; width: 95px;
	text-indent: -200px;
	margin-top: 10px;
}
.contact span.wpcf7-list-item {
	margin-left: 0; 
}

#wpcf7-f112-p10-o1 {
	padding-top: 20px;
}
.contact .entry-content p {
	color: #000;
}
.wpcf7-response-output {
	font-size: 15px;
	font-family: "lexia", sans-serif;
	color: #00837d;
	border: none;
}
.contact #contact_lastname, .contact #contact_firstname  {
	float: left;
	width:41%; 
}
 .contact #contact_lastname  {
 	margin-left: 13px;
}

.contact .sidebar-half {
	font-size: 14px;
}

.history-of-larkin #masthead {
  background-image: url("../img/header-history.jpg");
}
.history-of-larkin .post h3 {
	margin-bottom: 12px;
}
.directions-and-parking #masthead, .contact #masthead { 
 	background-image: none;
}

.directions-and-parking .sidebar-half {
	float: left;
	color: #000;
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 12px;
}
.directions-and-parking .sidebar-half h3 {

	color: #000;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-size: 12px;
}

.directions-and-parking #directions-map {
	background: url("../img/directions-map.png") no-repeat;
	height: 276px; width: 300px;
	margin-top: 20px;	
}

.rules-and-regulations #masthead {
  background-image: url("../img/header-rules.jpg");
}


.about #masthead {
  background-image: url("../img/header-about.jpg");
}
.about .sidebar-third {
	font-family: "fertigo-pro", sans-serif;
	font-style: italic;
	font-size: 14px;
	color: #00837d;			
}

.about .sidebar-third #thingstodo {
	float: left;
	width: 230px;	
}
.about .sidebar-third #thingstodo div {
	float: left;
	width: 105px;
	padding: 5px;
}

.larkin-development #masthead {
  background-image: url("../img/header-larkindevelopment.jpg");
}

.larkin-development .post ul {
	list-style: none;
	margin-bottom: 20px;	
}
.larkin-development .post ul li {
	margin-bottom: 8px;
}
.post a, .pickleball-post a {
	text-decoration: none;
	color: #00837d;		
}
#throw-a-party {
	display: none;
}
#party-mobile {
	display: block;
}

/* line 175, ../sass/larkin.sass */
.call-container #party-mobile {
  position: relative;
}

/* line 178, ../sass/larkin.sass */
.call-container #party-mobile .flower-girl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 184, ../sass/larkin.sass */
.call-container #party-mobile .flower-girl a {
  display: block;
  height: 100%;
  width: 100%;
}

/* line 189, ../sass/larkin.sass */
.call-container #party-mobile {
  position: relative;
  background-color: white;
  margin-bottom: 18px;
}
/* line 193, ../sass/larkin.sass */
.call-container #party-mobile p {
  font-size: 14px;
  padding: 12px;
}
/* line 197, ../sass/larkin.sass */
.call-container #party-mobile header h3 {
  padding-top: 12px;
  font-family: "fertigo-script", sans-serif;
  color: #00837d;
  padding-left: 12px;
}
/* line 202, ../sass/larkin.sass */
.call-container #party-mobile footer {
  background-color: #e86d20;
}
/* line 204, ../sass/larkin.sass */
.call-container #party-mobile footer a {
  color: white;
  font-family: "fertigo-pro", sans-serif;
  text-decoration: none;
  font-size: 16px;
  margin-right: 30px !important;
}

.independent-health #masthead {
  background-image: url("../img/header-independent-health.jpg");
}

	.independent-health .sidebar-third .grey-box {
		background-color: #efefef;
		width: 330px; height: 210px;
		padding: 15px;
	}
	.independent-health .sidebar-third .grey-box {
		color: #000;
		font-family: "proxima-nova", sans-serif;
		font-weight: 400;
		font-size: 12px;
	}
	.independent-health .sidebar-third .grey-box h3 {
		font-family: "lexia", sans-serif;
		color: #d31145;
		font-size: 18px;
	}

@media all and (min-width: 768px) {
	.directions-and-parking .post, .contact .page {
		width: 50%;
		float: left;
	}

	.directions-and-parking .sidebar-half {
		width: 50%;
		float: left;
	}
	.sidebar-half { 
		width: 48%;
		float: left;
	}

	.sidebar-third-image {
		float: left;
		display: block;
		margin-right: 2.35765%;
		width: 33%;
		margin-top: 35px;
	}

	.history-of-larkin .post {
		float: left;
		display: block;
		margin-right: 2.35765%;
		width: 60%;
		padding-right: 20px;
	}
	.contact .sidebar-half {
		font-size: 14px;
		margin-top: 200px;
		padding-right: 70px;
		padding-left: 16px;
		font-family: proxima-nova, sans-serif;		
	}
	.contact .post {
		background-size: initial;
	}

	.history-of-larkin .post {
		width: 68%;
	}

	.history-of-larkin .sidebar-third-image {
		width: 27%;
	}

	.directions-and-parking #directions-map {
		background: url("../img/directions-map.png") no-repeat;
		height: 383px; width: 416px;
		margin-top: 20px;	
	}
	.directions-and-parking .sidebar-half {
		width: 50%;
	}
	.rules-and-regulations .post {
		width: 68%;	
		float: left;		
	}
	.rules-and-regulations .post ol {
		margin-left: 28px;
	}
	.rules-and-regulations .post li {	
		font-family: "lexia", sans-serif;    	
		color: #00837d;
		font-size: 18px;
	}
	.rules-and-regulations .post li p {	
		margin-bottom: 0;
	}
	#list-pickleball-rules li {	
		font-family: "lexia", sans-serif;    	
		color: #fff;
		font-size: 18px;
	}
	
	.rules-and-regulations #larkinsquareguidelines {
	  background: url("../img/illustrations/nosmoking.png") no-repeat right;	
	}
	ol p {
		font-family: "proxima-nova", sans-serif;
		font-weight: 400;
		font-size: 12px;
	}
	#list-pickleball-rules li p{
		color: #fff;
	}
	
	.rules-and-regulations .sidebar-third {
		width: 27%; 
		float: left;
		font-family: "proxima-nova", sans-serif;
		font-weight: 400;
		font-size: 12px;		
	}

	.about .post {
		width: 55%;
		float: left;
		margin-right: 20px
	}

	.about .sidebar-third {
		width: 27%;
		float: left;
		margin-left: 48px;
	}

	.larkin-development .post {
		width: 60%;
		float: left;
		margin-right: 20px
	}

	.larkin-development .sidebar-third-image {
		width: 27%;
		float: right;
	}

	.home #masthead {
	  position: relative;
	  margin-left: auto;
	  margin-right: auto;
	  background-image: url("../img/header-home-2560.jpg");
	  background-position: top center;
	  background-repeat: no-repeat;
	  max-width: initial;
	  background-size: cover;	  
	}

	.home #primary {
	  max-width: initial;
	}

	.home #global-footer {
	  max-width: initial;
	}
 
	.home #filling-station-intro header {

		background-position: 50% 50%;
	}

	#throw-a-party {
		top: 69%;
		position: relative;
		display: block;
	}
	#party-mobile {
		display: none;
	}
	
	.independent-health .post {
		width: 60%;
		float: left;
		margin-right: 20px
	}

	.independent-health .sidebar-third {
		width: 33%;
		float: right;
	}


	
}