/********************************************** */
/* initialisation                                                              */
/********************************************** */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
/* line 35, ../sass/_defaults.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 46, ../sass/_defaults.scss */
html {
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 53, ../sass/_defaults.scss */
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}

/* line 58, ../sass/_defaults.scss */
body {
  background: #fff;
}

/* line 70, ../sass/_defaults.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* line 73, ../sass/_defaults.scss */
ol, ul {
  list-style: none;
}

/* line 76, ../sass/_defaults.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 80, ../sass/_defaults.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 85, ../sass/_defaults.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 88, ../sass/_defaults.scss */
blockquote, q {
  quotes: "" "";
}

/* line 91, ../sass/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* line 95, ../sass/_defaults.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 98, ../sass/_defaults.scss */
a img {
  border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
/* line 109, ../sass/_defaults.scss */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 116, ../sass/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 119, ../sass/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 122, ../sass/_defaults.scss */
b, strong {
  font-weight: bold;
}

/* line 125, ../sass/_defaults.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 128, ../sass/_defaults.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 131, ../sass/_defaults.scss */
address {
  margin: 0 0 1.5em;
}

/* line 134, ../sass/_defaults.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 145, ../sass/_defaults.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 148, ../sass/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 152, ../sass/_defaults.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 157, ../sass/_defaults.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 164, ../sass/_defaults.scss */
sup {
  bottom: 1ex;
}

/* line 167, ../sass/_defaults.scss */
sub {
  top: .5ex;
}

/* line 170, ../sass/_defaults.scss */
small {
  font-size: 75%;
}

/* line 173, ../sass/_defaults.scss */
big {
  font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
/* line 180, ../sass/_defaults.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 186, ../sass/_defaults.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 189, ../sass/_defaults.scss */
ul {
  list-style: disc;
}

/* line 192, ../sass/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 196, ../sass/_defaults.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 200, ../sass/_defaults.scss */
dt {
  font-weight: bold;
}

/* line 203, ../sass/_defaults.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 206, ../sass/_defaults.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 210, ../sass/_defaults.scss */
figure {
  margin: 0;
}

/* line 213, ../sass/_defaults.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 217, ../sass/_defaults.scss */
th {
  font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
/* line 227, ../sass/_defaults.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

/* line 235, ../sass/_defaults.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 253, ../sass/_defaults.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 264, ../sass/_defaults.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 269, ../sass/_defaults.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 272, ../sass/_defaults.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 278, ../sass/_defaults.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 282, ../sass/_defaults.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 291, ../sass/_defaults.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 301, ../sass/_defaults.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 308, ../sass/_defaults.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 311, ../sass/_defaults.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
/* line 324, ../sass/_defaults.scss */
a {
  color: royalblue;
}

/* line 327, ../sass/_defaults.scss */
a:visited {
  color: purple;
}

/* line 332, ../sass/_defaults.scss */
a:hover,
a:focus,
a:active {
  color: midnightblue;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
/* line 339, ../sass/_defaults.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* line 345, ../sass/_defaults.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 350, ../sass/_defaults.scss */
.main-navigation li {
  float: left;
  position: relative;
}

/* line 354, ../sass/_defaults.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* line 358, ../sass/_defaults.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  position: absolute;
  top: 1.5em;
  z-index: 99999;
}

/* line 367, ../sass/_defaults.scss */
.main-navigation ul ul ul {
  left: 100%;
  top: 0;
}

/* line 371, ../sass/_defaults.scss */
.main-navigation ul ul a {
  width: 200px;
}

/* line 382, ../sass/_defaults.scss */
.main-navigation ul li:hover > ul {
  display: block;
}

/* Small menu */
/* line 389, ../sass/_defaults.scss */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 394, ../sass/_defaults.scss */
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  /* line 398, ../sass/_defaults.scss */
  .main-navigation ul {
    display: none;
  }
}
/* line 404, ../sass/_defaults.scss */
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 410, ../sass/_defaults.scss */
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

/* line 416, ../sass/_defaults.scss */
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
/* line 426, ../sass/_defaults.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 436, ../sass/_defaults.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
/* line 458, ../sass/_defaults.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 463, ../sass/_defaults.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 468, ../sass/_defaults.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
/* line 488, ../sass/_defaults.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

/* line 498, ../sass/_defaults.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/* line 505, ../sass/_defaults.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
/* line 510, ../sass/_defaults.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 515, ../sass/_defaults.scss */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
/* line 527, ../sass/_defaults.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 531, ../sass/_defaults.scss */
.byline,
.updated {
  display: none;
}

/* line 535, ../sass/_defaults.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 540, ../sass/_defaults.scss */
.page-content,
.entry-content,
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/* line 549, ../sass/_defaults.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
/* line 556, ../sass/_defaults.scss */
.comment-content a {
  word-wrap: break-word;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 567, ../sass/_defaults.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 571, ../sass/_defaults.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
/* line 580, ../sass/_defaults.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 589, ../sass/_defaults.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
/* line 596, ../sass/_defaults.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 600, ../sass/_defaults.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

/* line 604, ../sass/_defaults.scss */
.wp-caption-text {
  text-align: center;
}

/* line 607, ../sass/_defaults.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
/* line 614, ../sass/_defaults.scss */
.gallery {
  margin-bottom: 1.5em;
}

/* line 617, ../sass/_defaults.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* line 623, ../sass/_defaults.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 626, ../sass/_defaults.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

/* line 629, ../sass/_defaults.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 632, ../sass/_defaults.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 635, ../sass/_defaults.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 638, ../sass/_defaults.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 641, ../sass/_defaults.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 644, ../sass/_defaults.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* type settings */
/* line 3, ../sass/_type.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "lexia", sans-serif;
  color: #00837d;
}

/* line 10, ../sass/_type.sass */
p, ul li, ol li, a {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

/* line 16, ../sass/_type.sass */
.header-nav li {
  margin-right: 6px;
}
/* line 18, ../sass/_type.sass */
.header-nav li a {
  font-family: "lexia", serif;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/* line 25, ../sass/_type.sass */
.header-nav a:hover {
  background-color: white;
  color: black;
  border-top: 1px solid #abdbcf;
  border-right: 1px solid #abdbcf;
  border-left: 1px solid #abdbcf;
}

/* line 10, ../sass/larkin.sass */
body {
  background-color: #dddddd;
}

/* line 13, ../sass/larkin.sass */
html, body {
  margin: 0 !important;
  padding: 0;
}

/* line 17, ../sass/larkin.sass */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/larkin.sass */
.inner-row {
  *zoom: 1;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
  max-width: 1024px;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.inner-row:before, .inner-row:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.inner-row:after {
  clear: both;
}

/* line 28, ../sass/larkin.sass */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, ../sass/larkin.sass */
.tplus {
  display: none;
}

/********************************************** */
/* initialisation ends                                                   */
/********************************************** */
/********************************************** */
/* global page header                                                */
/********************************************** */
/* line 44, ../sass/larkin.sass */
#masthead {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1020px;
  background-image: url("../img/social-scene-big.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* line 53, ../sass/larkin.sass */
#global-header {
  *zoom: 1;
  display: block;
  height: 89px;
  background-color: rgba(230, 237, 232, 0.9);
  overflow: hidden;
  border-bottom: 1px solid #abdbcf;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#global-header:before, #global-header:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#global-header:after {
  clear: both;
}
/* line 59, ../sass/larkin.sass */
#global-header .identity {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0;
  height: 84px;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
#global-header .identity:last-child {
  margin-right: 0;
}
/* line 64, ../sass/larkin.sass */
#global-header .mobile-nav-button-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: block;
  height: 84px;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
#global-header .mobile-nav-button-container:last-child {
  margin-right: 0;
}
/* line 68, ../sass/larkin.sass */
#global-header .mobile-nav-button-container a {
  position: absolute;
  top: 8px;
  right: 1%;
  height: 100%;
  width: 50%;
  overflow: hidden;
  height: 74px;
  background-image: url(../img/navburger.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-position: 100% -2px;
}

/* line 81, ../sass/larkin.sass */
.identity .logo-container {
  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  height: 72px;
  width: 72px;
  background-image: url("../img/larkin-logo.png");
}

/* line 91, ../sass/larkin.sass */
#ubermenu {
  display: none;
  z-index: 300;
}

/********************************************** */
/*          default page settings                                  */
/********************************************** */
/* line 99, ../sass/larkin.sass */
#main {
  padding-top: 28px;
}

/* line 102, ../sass/larkin.sass */
#primary {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  background-color: white;
}

/* line 110, ../sass/larkin.sass */
.masthead-page-logo {
  position: relative;
}

/* line 114, ../sass/larkin.sass */
.entry-content h1 {
  margin-bottom: 14px;
}

/********************************************** */
/*           lots of fontpage stuff ...                             */
/********************************************** */
/********************************************** */
/*           header social links                                        */
/********************************************** */
/* line 127, ../sass/larkin.sass */
#mobile-social-links-header ul, #outreach #social-ctas ul {
  list-style: none;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 135, ../sass/larkin.sass */
#mobile-social-links-header ul li, #outreach #social-ctas ul li {
  height: 22px;
  min-width: 20px;
  display: inline-block;
}
/* line 139, ../sass/larkin.sass */
#mobile-social-links-header ul li a, #outreach #social-ctas ul li a {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("../img/sprites/social-icons.png");
}

/* line 145, ../sass/larkin.sass */
#mobile-social-links-header, #outreach #social-ctas {
  /********************************************** */
}
/* line 146, ../sass/larkin.sass */
#mobile-social-links-header .social-link-fb a, #outreach #social-ctas .social-link-fb a {
  background-position: 0px -2px;
}
/* line 148, ../sass/larkin.sass */
#mobile-social-links-header .social-link-tw a, #outreach #social-ctas .social-link-tw a {
  background-position: -22px -2px;
}
/* line 150, ../sass/larkin.sass */
#mobile-social-links-header .social-link-instagram a, #outreach #social-ctas .social-link-instagram a {
  background-position: -47px -2px;
}
/* line 152, ../sass/larkin.sass */
#mobile-social-links-header .social-link-flickr a, #outreach #social-ctas .social-link-flickr a {
  background-position: -73px -3px;
}
/* line 154, ../sass/larkin.sass */
#mobile-social-links-header .social-link-gp a, #outreach #social-ctas .social-link-gp a {
  background-position: -96px -3px;
}
/* line 156, ../sass/larkin.sass */
#mobile-social-links-header .social-link-yelp, #outreach #social-ctas .social-link-yelp {
  width: 42px;
  height: 24px;
}
/* line 159, ../sass/larkin.sass */
#mobile-social-links-header .social-link-yelp a, #outreach #social-ctas .social-link-yelp a {
  background-position: -120px 0px;
}
/* line 161, ../sass/larkin.sass */
#mobile-social-links-header .social-link-youtube a, #outreach #social-ctas .social-link-youtube a {
  height: 28px !important;
  width: 28px !important;
  background-position: 26px -3px;
}

/*   frontpage masthead calls to action              */
/********************************************** */
/* line 170, ../sass/larkin.sass */
.masthead-calls {
  margin-top: 160px;
}
/* line 172, ../sass/larkin.sass */
.masthead-calls .call-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
.masthead-calls .call-container:last-child {
  margin-right: 0;
}

/* line 175, ../sass/larkin.sass */
.call-container #party {
  position: relative;
}

/* line 178, ../sass/larkin.sass */
.call-container #party .flower-girl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 184, ../sass/larkin.sass */
.call-container #party .flower-girl a {
  display: block;
  height: 100%;
  width: 100%;
}

/* line 189, ../sass/larkin.sass */
.call-container #party {
  position: relative;
  background-color: white;
  margin-bottom: 18px;
}
/* line 193, ../sass/larkin.sass */
.call-container #party p {
  font-size: 14px;
  padding: 12px;
}
/* line 197, ../sass/larkin.sass */
.call-container #party header h3 {
  padding-top: 12px;
  font-family: "fertigo-script", sans-serif;
  color: #00837d;
  padding-left: 12px;
}
/* line 202, ../sass/larkin.sass */
.call-container #party footer {
  background-color: #e86d20;
}
/* line 204, ../sass/larkin.sass */
.call-container #party footer a {
  color: white;
  font-family: "fertigo-pro", sans-serif;
  text-decoration: none;
  font-size: 16px;
  margin-right: 30px !important;
}

/* line 212, ../sass/larkin.sass */
#join-email-list {
  padding: 1%;
  background-color: rgba(195, 195, 195, 0.8);
}
/* line 215, ../sass/larkin.sass */
#join-email-list span {
  position: relative;
  display: block;
  text-align: center;
  background-color: white;
  font-size: 14px;
  height: 40px;
  line-height: 2.8;
  width: 98%;
}
/* line 224, ../sass/larkin.sass */
#join-email-list input {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
  display: block;
  text-align: center;
  color: #00837d;
  font-family: "fertigo-pro", sans-serif;
  border: 0;
  width: 100%;
  height: 38px;
}
/* line 236, ../sass/larkin.sass */
#join-email-list input::input-placeholder {
  background-color: rgba(0, 131, 125, 0.7);
  padding-left: 8px;
  font-size: 14px;
  line-height: 2.4;
  height: 38px;
}
/* line 242, ../sass/larkin.sass */
#join-email-list input::-webkit-input-placeholder {
  color: rgba(0, 131, 125, 0.7);
  font-size: 14px;
  padding-left: 8px;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  line-height: 2.4;
  height: 38px;
}

/* line 251, ../sass/larkin.sass */
.call-container #join-email-list {
  margin-bottom: 14px;
}

/* line 254, ../sass/larkin.sass */
footer #join-email-list {
  margin-bottom: 0;
}

/* line 257, ../sass/larkin.sass */
#masthead .join-email-list .second {
  background-color: rgba(0, 131, 125, 0.7);
  height: 38px;
}
/* line 260, ../sass/larkin.sass */
#masthead .join-email-list .second span {
  background-color: transparent;
  color: white;
  font-family: "fertigo-script", sans-serif !important;
  font-size: 17px;
  line-height: 2 !important;
}

/********************************************** */
/*   frontpage filling station section                   */
/********************************************** */
/* line 271, ../sass/larkin.sass */
#filling-station-intro {
  background-position: 0 0;
}
/* line 273, ../sass/larkin.sass */
#filling-station-intro header {
  height: 197px;
  background-color: #260e02;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  overflow: visible;
  border-bottom: 12px solid #f9cccf;
  background-image: url("../img/title-filling-station.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 285, ../sass/larkin.sass */
#filling-station-intro .delim {
  display: none;
}

/* line 288, ../sass/larkin.sass */
#filling-station-calls {
  display: block;
  padding-top: 24px;
  padding-bottom: 56px;
  padding-bottom: 24px;
  background-color: #eda4b7;
}
/* line 294, ../sass/larkin.sass */
#filling-station-calls h2 {
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 28px;
}
/* line 299, ../sass/larkin.sass */
#filling-station-calls p {
  padding-bottom: 48px;
}
/* line 301, ../sass/larkin.sass */
#filling-station-calls p a {
  display: inline-block;
  float: left;
  width: 50%;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid white;
  background-color: #d795a3;
  color: white;
  font-size: 16px;
  text-decoration: none;
  width: 50%;
  text-align: center;
  font-family: "fertigo-script";
  font-weight: 400;
}

/********************************************** */
/*           mobile navigation menu                             */
/********************************************** */
/* line 321, ../sass/larkin.sass */
#mobile-nav-menu {
  display: none;
  background-color: #456867;
}
/* line 324, ../sass/larkin.sass */
#mobile-nav-menu ul, #mobile-nav-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 328, ../sass/larkin.sass */
#mobile-nav-menu #menu-main-menu {
  padding-top: 14px;
  padding-bottom: 14px;
}
/* line 331, ../sass/larkin.sass */
#mobile-nav-menu #menu-main-menu li {
  position: relative;
  border-bottom: 1px solid #344b4a;
  border-top: 1px solid #608584;
  padding-right: 12px;
  padding-left: 12px;
}
/* line 337, ../sass/larkin.sass */
#mobile-nav-menu #menu-main-menu li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

/********************************************** */
/*   frontpage styles ended                                       */
 * /*********************************************** */
/********************************************** */
/*   defaults for pages                                                 */
/********************************************** */
/* line 358, ../sass/larkin.sass */
.page #masthead {
  height: 341px;
}

/********************************************** */
/*   live at larkin page                                                  */
 * /*********************************************** */
/* line 366, ../sass/larkin.sass */
.live-at-larkin #masthead {
  background-image: url("../img/live-header.jpg");
}

/* line 369, ../sass/larkin.sass */
.live-at-larkin .masthead-page-logo {
  margin-top: 60px;
  text-align: center;
}
/* line 372, ../sass/larkin.sass */
.live-at-larkin .masthead-page-logo img {
  height: 100px;
}

/* line 375, ../sass/larkin.sass */
#live-series {
  padding-top: 24px;
  padding-bottom: 24px;
  padding: 3%;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 28px;
  background-color: #efefef;
}

/* line 384, ../sass/larkin.sass */
#live-series header {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 24px;
}
/* line 390, ../sass/larkin.sass */
#live-series header h2, #live-series header h3 {
  font-family: "fertigo-script";
  color: #00837d;
  text-align: center;
}

/* line 395, ../sass/larkin.sass */
#live-series ul {
  margin-left: 0;
  list-style: none;
}
/* line 398, ../sass/larkin.sass */
#live-series ul li {
  margin-bottom: 12px;
}
/* line 400, ../sass/larkin.sass */
#live-series ul li span {
  display: block;
  font-size: 16px;
}
/* line 403, ../sass/larkin.sass */
#live-series ul li .date {
  font-family: "lexia", serif;
  font-size: 16px;
}
/* line 406, ../sass/larkin.sass */
#live-series ul li .event {
  color: #00837d;
}

/* line 409, ../sass/larkin.sass */
#include-sponsors {
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
/* line 414, ../sass/larkin.sass */
#include-sponsors h3 {
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 12px;
}

/* line 420, ../sass/larkin.sass */
#live-at-larkin-sponsors h2 {
  font-size: 14px;
  margin-bottom: 12px;
}

/* line 424, ../sass/larkin.sass */
#live-at-larkin-sponsors .sponsor-list {
  margin-bottom: 24px;
}

/* line 427, ../sass/larkin.sass */
#live-at-larkin-sponsors a {
  background-color: #dddddd;
  background-image: url("../img/sprites/sidebar-sponsors.jpg");
  display: block;
  height: 30px;
  width: 50%;
  float: left;
}

/* line 434, ../sass/larkin.sass */
#live-at-larkin-sponsors a.first-niagara {
  width: 100px;
  margin-right: 30px;
}

/* line 437, ../sass/larkin.sass */
#live-at-larkin-sponsors a.independent-health {
  width: 68px;
  background-position: 68px 0;
}

/********************************************** */
/*   frontpage sponsers                                              */
/********************************************** */
/* line 444, ../sass/larkin.sass */
.home #sponsers {
  padding-top: 20px;
  padding-bottom: 28px;
  background-color: white;
}
/* line 448, ../sass/larkin.sass */
.home #sponsers h2 {
  padding-bottom: 24px;
  font-size: 32px;
}

/* line 453, ../sass/larkin.sass */
.home .sponser-container section {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px dashed #bfd5f1;
  position: relative;
}

/********************************************** */
/*  pickelball page                                                        */
 * /********************************************** */
/* line 465, ../sass/larkin.sass */
.pickleball-courts #masthead {
  background-image: url("../img/header-pickleball.jpg");
}

/* line 468, ../sass/larkin.sass */
.pickleball-courts .masthead-page-logo {
  text-align: center;
}

/* line 472, ../sass/larkin.sass */
.pickleball-courts .hentry .entry-content h2, .pickleball-courts .hentry .entry-content h3, .pickleball-courts .hentry .entry-content h4, .pickleball-courts .hentry .entry-content h4 {
  font-family: "proxima-nova" !important;
  font-weight: 400;
  color: black;
  font-size: 14px;
  padding-bottom: 12px;
}

/* line 479, ../sass/larkin.sass */
#pickleball-rules-table {
  position: relative;
  background-color: #215352;
  color: white;
  padding: 12px;
  margin-bottom: 24px;
}
/* line 485, ../sass/larkin.sass */
#pickleball-rules-table ol {
  border: 2px solid white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 120px;
  list-style-position: inside;
  margin: 0;
}
/* line 492, ../sass/larkin.sass */
#pickleball-rules-table ol li {
  margin-bottom: 8px;
  width: 90%;
}

/* line 496, ../sass/larkin.sass */
#pickleball-rules-table .bats {
  position: absolute;
  width: 73px;
  height: 63px;
  z-index: 500;
  top: 20px;
  right: 20px;
}

/* line 505, ../sass/larkin.sass */
#pickleball-rules-table header {
  top: 18px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}
/* line 512, ../sass/larkin.sass */
#pickleball-rules-table header h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 519, ../sass/larkin.sass */
#pickleball-rules-table header h3 {
  background-color: white;
  color: #ed6a18;
  font-size: 22px;
  text-transform: uppercase;
}

/********************************************** */
/*  Food Truck Tuesdays Page Template          */
/********************************************** */
/* line 532, ../sass/larkin.sass */
.page.food-truck-tuesdays .content-wrap {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1024px;
}
/* line 538, ../sass/larkin.sass */
.page.food-truck-tuesdays .content-wrap .hentry {
  margin-bottom: 12px;
}
/* line 540, ../sass/larkin.sass */
.page.food-truck-tuesdays .content-wrap .entry-content {
  margin-bottom: 0;
}

/* line 544, ../sass/larkin.sass */
.page.food-truck-tuesdays #live-music-events h2 {
  font-family: "lexia", serif;
  font-size: 20px;
  margin-bottom: 24px;
}
/* line 548, ../sass/larkin.sass */
.page.food-truck-tuesdays #live-music-events ul {
  list-style: none;
  margin-left: 0;
}
/* line 551, ../sass/larkin.sass */
.page.food-truck-tuesdays #live-music-events ul li {
  margin-bottom: 22px;
}
/* line 553, ../sass/larkin.sass */
.page.food-truck-tuesdays #live-music-events ul li p {
  margin-bottom: 0;
}
/* line 555, ../sass/larkin.sass */
.page.food-truck-tuesdays #live-music-events ul li p.date {
  font-weight: bold;
  font-family: "proxima-nova";
}
/* line 558, ../sass/larkin.sass */
.page.food-truck-tuesdays #live-music-events ul li h3 a, .page.food-truck-tuesdays #live-music-events ul li .date {
  font-family: "proxima-nova";
  color: #00837d;
  text-decoration: none;
  font-weight: bold;
}
/* line 563, ../sass/larkin.sass */
.page.food-truck-tuesdays #live-music-events ul .excerpt p {
  color: black;
}

/* line 566, ../sass/larkin.sass */
div#accordion {
  margin-bottom: 12px;
  text-align: center;
}

/* line 571, ../sass/larkin.sass */
.page.food-truck-tuesdays .tuesday-sidebar ul {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
/* line 577, ../sass/larkin.sass */
.page.food-truck-tuesdays .tuesday-sidebar ul li .image-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8px;
}
/* line 583, ../sass/larkin.sass */
.page.food-truck-tuesdays .tuesday-sidebar ul li .text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
/* line 588, ../sass/larkin.sass */
.page.food-truck-tuesdays .tuesday-sidebar ul li p {
  color: black;
}

/********************************************** */
/* global  footer                                                              */
/********************************************** */
/* line 596, ../sass/larkin.sass */
#global-footer h1, #global-footer h2, #global-footer h3, #global-footer h4, #global-footer h5, #global-footer h6 {
  color: white;
}

/* line 599, ../sass/larkin.sass */
#global-footer {
  background-color: #3a5c5b;
  padding-top: 48px;
  padding-bottom: 14px;
  color: white;
  font-size: 16px;
}
/* line 605, ../sass/larkin.sass */
#global-footer .footer-col {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #1d4544;
}
/* line 610, ../sass/larkin.sass */
#global-footer #footer-news h3 {
  text-transform: uppercase;
  padding-bottom: 12px;
  font-family: "lexia", sans-serif;
  font-weight: 400;
}
/* line 615, ../sass/larkin.sass */
#global-footer #footer-news article {
  border-bottom: 1px solid #1d4544;
  padding-top: 12px;
}
/* line 618, ../sass/larkin.sass */
#global-footer #footer-news article.last {
  border-bottom: 0;
}
/* line 620, ../sass/larkin.sass */
#global-footer #footer-news a {
  text-decoration: none;
  font-family: "lexia", sans-serif;
  font-weight: 400;
  color: white;
}

/* line 627, ../sass/larkin.sass */
#footer-contact h3 {
  padding-bottom: 17px;
  text-transform: uppercase;
}
/* line 630, ../sass/larkin.sass */
#footer-contact ul {
  list-style: none;
  margin-left: 0;
}
/* line 633, ../sass/larkin.sass */
#footer-contact ul li {
  list-style-position: inside;
  padding-bottom: 0px;
}

/* line 638, ../sass/larkin.sass */
.footer-contact-links a {
  color: white;
  display: block;
  text-decoration: none;
  padding-bottom: 8px;
}

/* line 644, ../sass/larkin.sass */
#footer-tweets a {
  color: #3ea9a3;
  text-decoration: none;
}

/***********************************************/
 * /*   footer #outreach                                                 */
/********************************************** */
/* line 652, ../sass/larkin.sass */
#outreach {
  margin-bottom: 40px;
}

/* line 655, ../sass/larkin.sass */
#global-footer #outreach #social-ctas {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  border: 2px solid white;
  margin-bottom: 15px;
  max-width: 398px;
}
/* line 663, ../sass/larkin.sass */
#global-footer #outreach #social-ctas h3 {
  font-size: 17px;
}
/* line 665, ../sass/larkin.sass */
#global-footer #outreach #social-ctas ul {
  background-color: transparent;
  margin-bottom: 12px;
}
/* line 668, ../sass/larkin.sass */
#global-footer #outreach #social-ctas li {
  height: 24px;
  overflow: visible;
}
/* line 671, ../sass/larkin.sass */
#global-footer #outreach #social-ctas .social-link-yelp {
  height: 28px;
}

/* line 675, ../sass/larkin.sass */
#global-footer #footer-email-invitation {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  margin-bottom: 40px;
  border: 1px solid white;
}
/* line 682, ../sass/larkin.sass */
#global-footer #footer-email-invitation .first {
  background-color: #9badad;
  color: #2a514c;
  width: 100%;
}
/* line 686, ../sass/larkin.sass */
#global-footer #footer-email-invitation .first span {
  height: 40px;
}
/* line 688, ../sass/larkin.sass */
#global-footer #footer-email-invitation .second {
  height: 30px;
  border-radius: 0 !important;
  background-color: #e86d20;
}
/* line 692, ../sass/larkin.sass */
#global-footer #footer-email-invitation .second span {
  background-color: transparent;
  font-family: "lexia", serif !important;
}

/* line 697, ../sass/larkin.sass */
.footer #booking-cta {
  padding-top: 30px;
}
/* line 699, ../sass/larkin.sass */
.footer #booking-cta .cta-text {
  margin-bottom: 32px;
}
/* line 701, ../sass/larkin.sass */
.footer #booking-cta h3 {
  font-size: 18px;
  padding-bottom: 12px;
  color: white;
  padding-bottom: 4px;
}
/* line 706, ../sass/larkin.sass */
.footer #booking-cta a {
  color: #3ea9a3;
}
/* line 708, ../sass/larkin.sass */
.footer #booking-cta .deck {
  display: block;
  height: 70px;
  background-image: url("../img/illustrations/deck.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 18px;
}

/********************************************** */
/* now we include styles for wider screens     */
/********************************************** */
@media all and (min-width: 768px) {
  /*  settings for 'tablet width' and up */
  /* line 3, ../sass/_tablet.sass */
  .tplus {
    display: block;
  }

  /* line 6, ../sass/_tablet.sass */
  .home #masthead {
    height: 789px;
  }

  /* line 9, ../sass/_tablet.sass */
  .title-container {
    max-width: 810px;
  }

  /* line 12, ../sass/_tablet.sass */
  .identity .logo-container {
    height: 72px;
    width: 320px;
    background-image: url("../img/larkin-logo-tplus.png");
  }

  /* header navigation */
  /* line 18, ../sass/_tablet.sass */
  #global-header {
    position: relative;
  }
  /* line 20, ../sass/_tablet.sass */
  #global-header .mobile-nav-button-container {
    display: none;
  }
  /* line 22, ../sass/_tablet.sass */
  #global-header .nav-and-social {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    float: right;
    margin-right: 0;
    height: 87px;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #global-header .nav-and-social:last-child {
    margin-right: 0;
  }

  /* line 29, ../sass/_tablet.sass */
  .header-nav {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  /* line 33, ../sass/_tablet.sass */
  .header-nav li {
    list-style: none;
    float: left;
  }
  /* line 36, ../sass/_tablet.sass */
  .header-nav a {
    display: block;
    padding: 8px;
    color: #007f70;
    border: 1px solid transparent;
  }

  /********************************************** */
  /*  page defaults                                                            */
  /********************************************** */
  /* line 46, ../sass/_tablet.sass */
  .page .content-wrap {
    position: relative;
    background-color: white;
    padding-bottom: 28px;
  }
  /* line 50, ../sass/_tablet.sass */
  .page .content-wrap #primary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    position: relative;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .page .content-wrap #primary:last-child {
    margin-right: 0;
  }
  /* line 53, ../sass/_tablet.sass */
  .page .content-wrap #primary #main {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 96%;
  }
  /* line 59, ../sass/_tablet.sass */
  .page .content-wrap #secondary {
    padding-top: 18px;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background-color: #225252;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .page .content-wrap #secondary:last-child {
    margin-right: 0;
  }

  /********************************************** */
  /*  ubermenu                                                                   */
  /********************************************** */
  /* line 70, ../sass/_tablet.sass */
  #ubermenu {
    background-color: white;
    position: absolute;
    right: 40px;
    top: 85px;
    height: 190px;
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
  }
  /* line 80, ../sass/_tablet.sass */
  #ubermenu section {
    overflow: visible;
    float: left;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 87, ../sass/_tablet.sass */
  #ubermenu section.left {
    position: relative;
    padding-left: 0px;
    padding-right: 10px;
  }
  /* line 91, ../sass/_tablet.sass */
  #ubermenu section.left header {
    background-color: #00837d;
    padding-top: 15px;
    padding-bottom: 12px;
    margin-bottom: 18px;
  }
  /* line 96, ../sass/_tablet.sass */
  #ubermenu section.left header h3 {
    color: white;
    font-family: "fertigo-pro", sans-serif;
    font-style: italic;
    font-size: 14px;
    text-align: center;
  }
  /* line 102, ../sass/_tablet.sass */
  #ubermenu section.left section.right {
    padding-top: 0;
  }

  /* line 105, ../sass/_tablet.sass */
  #ubermenu li {
    height: 16px;
    margin-bottom: 12px;
  }
  /* line 108, ../sass/_tablet.sass */
  #ubermenu li a {
    height: 14px;
    line-height: 0;
    padding: 0;
    margin: 0;
  }

  /* line 114, ../sass/_tablet.sass */
  #ubermenu .nav-left {
    width: 50%;
  }

  /* line 117, ../sass/_tablet.sass */
  #ubermenu .nav-right {
    position: absolute;
    top: 20px;
    right: 10px;
    height: 150px;
    width: 160px;
    background-image: url("../img/illustrations/square-building.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  /* line 127, ../sass/_tablet.sass */
  #ubermenu .hoop {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 82px;
    width: 45px;
    background-image: url("../img/illustrations/hula-hoop.jpg");
  }

  /* line 135, ../sass/_tablet.sass */
  #ubermenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 139, ../sass/_tablet.sass */
  #ubermenu ul li {
    list-style: none;
  }
  /* line 141, ../sass/_tablet.sass */
  #ubermenu ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #008276;
  }

  /* line 146, ../sass/_tablet.sass */
  #ubermenu .sponsor-links {
    display: block !important;
    position: relative;
    height: 31px;
    width: 175px;
  }
  /* line 151, ../sass/_tablet.sass */
  #ubermenu .sponsor-links a {
    background-image: url("../img/sprites/ubermenu-sponsors.jpg");
    display: block;
    height: 30px;
    float: left;
  }
  /* line 156, ../sass/_tablet.sass */
  #ubermenu .sponsor-links .first-niagara {
    width: 85px;
    margin-right: 20px;
  }
  /* line 159, ../sass/_tablet.sass */
  #ubermenu .sponsor-links .independent-health {
    width: 58px;
    background-position: 58px 0;
  }

  /********************************************** */
  /*   header social links                                              */
  /********************************************** */
  /* line 168, ../sass/_tablet.sass */
  #mobile-social-links-header {
    display: none;
  }

  /* line 172, ../sass/_tablet.sass */
  #global-header .nav-and-social ul.social-links {
    float: right;
    list-style: none;
    position: relative;
    text-align: center;
    padding-top: 2px;
  }
  /* line 178, ../sass/_tablet.sass */
  #global-header .nav-and-social ul.social-links li {
    height: 22px;
    min-width: 17px;
    display: inline-block;
  }
  /* line 182, ../sass/_tablet.sass */
  #global-header .nav-and-social ul.social-links li a {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../img/sprites/social-icons.png");
  }

  /* line 188, ../sass/_tablet.sass */
  .site-header .nav-and-social .social-links {
    z-index: 500;
  }

  /* line 192, ../sass/_tablet.sass */
  .nav-and-social .social-links .social-link-fb a {
    background-position: 1px -3px;
  }
  /* line 194, ../sass/_tablet.sass */
  .nav-and-social .social-links .social-link-tw a {
    background-position: -23px -3px;
  }
  /* line 196, ../sass/_tablet.sass */
  .nav-and-social .social-links .social-link-instagram a {
    background-position: -47px -3px;
  }
  /* line 198, ../sass/_tablet.sass */
  .nav-and-social .social-links .social-link-flickr a {
    background-position: -73px -4px;
  }
  /* line 200, ../sass/_tablet.sass */
  .nav-and-social .social-links .social-link-gp a {
    background-position: -96px -3px;
  }
  /* line 202, ../sass/_tablet.sass */
  .nav-and-social .social-links .social-link-yelp {
    width: 42px;
    height: 24px;
  }
  /* line 205, ../sass/_tablet.sass */
  .nav-and-social .social-links .social-link-yelp a {
    background-position: -120px -3px;
  }
  /* line 207, ../sass/_tablet.sass */
  .nav-and-social .social-links .social-link-youtube a {
    height: 28px !important;
    width: 28px !important;
    background-position: 26px -3px;
  }

  /********************************************** */
  /*   frontpage masthead calls to action              */
   * /*********************************************** */
  /* line 217, ../sass/_tablet.sass */
  .masthead-calls {
    *zoom: 1;
    display: block;
    margin-top: 540px;
    width: 100%;
  }
  /* line 18, ../sass/bourbon/addons/_clearfix.scss */
  .masthead-calls:before, .masthead-calls:after {
    content: " ";
    display: table;
  }
  /* line 23, ../sass/bourbon/addons/_clearfix.scss */
  .masthead-calls:after {
    clear: both;
  }

  /* line 222, ../sass/_tablet.sass */
  .call-container #party {
    max-width: 320px;
  }
  /* line 224, ../sass/_tablet.sass */
  .call-container #party .flower-girl {
    background-image: url("../img/illustrations/flower-girl.png");
    background-repeat: no-repeat;
    background-position: 90% 70%;
  }
  /* line 229, ../sass/_tablet.sass */
  .call-container #party header h3 {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  /* line 232, ../sass/_tablet.sass */
  .call-container #party p.message {
    width: 240px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
  }
  /* line 237, ../sass/_tablet.sass */
  .call-container #party h3 {
    font-size: 24px;
  }
  /* line 240, ../sass/_tablet.sass */
  .call-container #party footer p {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "fertigo-script", serif;
    font-style: italic;
  }
  /* line 245, ../sass/_tablet.sass */
  .call-container #party footer p, .call-container #party footer a {
    display: block;
  }

  /* line 249, ../sass/_tablet.sass */
  .home .join-email-list {
    position: absolute;
    bottom: 18px;
    right: 12px;
    width: 400px;
    height: 46px;
    line-height: 2;
  }
  /* line 256, ../sass/_tablet.sass */
  .home .join-email-list .float {
    position: relative;
    float: left;
    width: 50%;
    overflow: hidden;
  }
  /* line 261, ../sass/_tablet.sass */
  .home .join-email-list .float .span {
    display: inline-block;
    font-family: "lexia", sans-serif !important;
  }
  /* line 264, ../sass/_tablet.sass */
  .home .join-email-list .float .span input {
    padding: 0;
  }

  /* line 267, ../sass/_tablet.sass */
  .home #join-email-list span {
    font-family: "proxima-nova", sans-serif !important;
  }

  /* line 271, ../sass/_tablet.sass */
  .home #join-email-list div.first {
    height: 38px;
    border-radius: 0;
  }
  /* line 274, ../sass/_tablet.sass */
  .home #join-email-list div.first input {
    border-radius: 0;
  }

  /* line 278, ../sass/_tablet.sass */
  .home #join-email-list div.second input {
    height: 100%;
    font-size: 14px;
    line-height: 1;
    border-radius: 0;
  }
  /* line 283, ../sass/_tablet.sass */
  .home #join-email-list div.second input::-webkit-input-placeholder {
    line-height: 1;
    font-family: "fertigo-script", serif;
  }
  /* line 286, ../sass/_tablet.sass */
  .home #join-email-list div.second input::-moz-placeholder {
    line-height: 1;
    font-family: "fertigo-script", serif;
  }
  /* line 289, ../sass/_tablet.sass */
  .home #join-email-list div.second input::-ms-input-placeholder {
    line-height: 1;
    font-family: "fertigo-script", serif;
  }

  /* line 293, ../sass/_tablet.sass */
  .home #primary {
    padding-top: 0;
  }

  /* line 296, ../sass/_tablet.sass */
  .home #main {
    padding-top: 0;
  }

  /********************************************** */
  /*           frontpage events                                           */
  /********************************************** */
  /********************************************** */
  /*           frontpage filling-station stuff                 */
  /********************************************** */
  /* line 309, ../sass/_tablet.sass */
  .home #filling-station-calls {
    height: 197px;
    padding-bottom: 0;
  }
  /* line 312, ../sass/_tablet.sass */
  .home #filling-station-calls h2 {
    font-size: 37px !important;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  /* line 316, ../sass/_tablet.sass */
  .home #filling-station-calls p {
    padding-bottom: 0;
  }

  /* line 321, ../sass/_tablet.sass */
  #filling-station-intro header, #filling-station-intro #filling-station-calls {
    float: left;
    width: 50%;
    overflow: visible;
    padding-top: 0;
  }
  /* line 326, ../sass/_tablet.sass */
  #filling-station-intro header {
    position: relative;
    border-bottom: none;
    background-position: 60px 50%;
  }

  /* line 333, ../sass/_tablet.sass */
  #filling-station-intro .delim {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 197px;
    width: 74px;
    z-index: 3000;
    background-image: url("../img/fs-delim.jpg");
  }
  /* line 344, ../sass/_tablet.sass */
  #filling-station-intro #filling-station-calls p {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
  /* line 349, ../sass/_tablet.sass */
  #filling-station-intro #filling-station-calls p a {
    width: 45%;
  }
  /* line 351, ../sass/_tablet.sass */
  #filling-station-intro #filling-station-calls p .first {
    float: left;
  }
  /* line 353, ../sass/_tablet.sass */
  #filling-station-intro #filling-station-calls p .second {
    float: right;
  }

  /********************************************** */
  /*   live at larkin page                                                  */
  /********************************************** */
  /* line 360, ../sass/_tablet.sass */
  .live-at-larkin .masthead-page-logo {
    margin-top: 60px;
    text-align: left;
  }
  /* line 363, ../sass/_tablet.sass */
  .live-at-larkin .masthead-page-logo img {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 160px;
  }

  /* line 369, ../sass/_tablet.sass */
  .live-at-larkin .post {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    padding-right: 20px;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .live-at-larkin .post:last-child {
    margin-right: 0;
  }
  /* line 372, ../sass/_tablet.sass */
  .live-at-larkin .post h3 {
    padding-bottom: 16px;
  }

  /* line 375, ../sass/_tablet.sass */
  .live-at-larkin-sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .live-at-larkin-sidebar:last-child {
    margin-right: 0;
  }

  /* line 378, ../sass/_tablet.sass */
  #live-series {
    margin-top: 40px;
    padding-bottom: 0;
    margin-bottom: 24px;
  }

  /* line 383, ../sass/_tablet.sass */
  #live-series ul {
    list-style: none;
  }
  /* line 385, ../sass/_tablet.sass */
  #live-series ul li {
    margin-bottom: 12px;
  }
  /* line 387, ../sass/_tablet.sass */
  #live-series ul li span {
    display: block;
    font-size: 12px;
  }
  /* line 390, ../sass/_tablet.sass */
  #live-series ul li .date {
    font-family: "lexia", serif;
    font-size: 15px;
  }
  /* line 393, ../sass/_tablet.sass */
  #live-series ul li .event {
    color: #00837d;
  }

  /********************************************** */
  /*   frontpage sponsers                                              */
  /********************************************** */
  /* line 402, ../sass/_tablet.sass */
  .home #sponsers .inner-row {
    width: 830px;
  }
  /* line 404, ../sass/_tablet.sass */
  .home #sponsers .inner-row h2 {
    color: #389a99;
  }

  /* line 407, ../sass/_tablet.sass */
  .home .sponser-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 530px;
  }
  /* line 413, ../sass/_tablet.sass */
  .home .sponser-container section {
    display: inline;
    width: 50%;
    text-align: center;
    border-bottom: 0;
  }
  /* line 418, ../sass/_tablet.sass */
  .home .sponser-container .first {
    margin-right: 112px;
  }

  /********************************************** */
  /*   live at larkin page                                                  */
   * /*********************************************** */
  /* line 426, ../sass/_tablet.sass */
  #live-at-larkin-sponsors h2 {
    text-align: center;
  }

  /* line 428, ../sass/_tablet.sass */
  #live-at-larkin-sponsors .sponsor-list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

  /********************************************** */
  /*   pickleball rules page                                                */
  /********************************************** */
  /* line 438, ../sass/_tablet.sass */
  .pickleball-courts .masthead-page-logo {
    text-align: left;
    margin-top: 133px;
  }
  /* line 441, ../sass/_tablet.sass */
  .pickleball-courts .masthead-page-logo img {
    padding-left: 110px;
  }

  /* line 444, ../sass/_tablet.sass */
  .pickleball-post {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .pickleball-post:last-child {
    margin-right: 0;
  }

  /* line 447, ../sass/_tablet.sass */
  #pickleball-rules-table {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #pickleball-rules-table:last-child {
    margin-right: 0;
  }

  /********************************************** */
  /*   footer stuffz                                                              */
  /********************************************** */
  /* line 454, ../sass/_tablet.sass */
  #global-footer {
    *zoom: 1;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    /********************************************** */
    /*   footer #outreach                                                 */
  }
  /* line 18, ../sass/bourbon/addons/_clearfix.scss */
  #global-footer:before, #global-footer:after {
    content: " ";
    display: table;
  }
  /* line 23, ../sass/bourbon/addons/_clearfix.scss */
  #global-footer:after {
    clear: both;
  }
  /* line 459, ../sass/_tablet.sass */
  #global-footer #footer-contact {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    border-bottom: 0;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #global-footer #footer-contact:last-child {
    margin-right: 0;
  }
  /* line 462, ../sass/_tablet.sass */
  #global-footer #footer-news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #global-footer #footer-news:last-child {
    margin-right: 0;
  }
  /* line 464, ../sass/_tablet.sass */
  #global-footer #outreach {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #global-footer #outreach:last-child {
    margin-right: 0;
  }

  /********************************************** */
  /* line 471, ../sass/_tablet.sass */
  #outreach .row-one {
    position: relative;
  }

  /* line 474, ../sass/_tablet.sass */
  #global-footer #outreach #social-ctas {
    position: relative;
    float: left;
    width: 48%;
    border-radius: 3px;
  }
  /* line 479, ../sass/_tablet.sass */
  #global-footer #outreach #social-ctas h3 {
    text-align: left;
    padding-left: 24px;
  }

  /* line 483, ../sass/_tablet.sass */
  #outreach #footer-email-invitation {
    position: relative;
    float: right;
    width: 48%;
    border-radius: 3px;
  }

  /* line 489, ../sass/_tablet.sass */
  .footer-copyright {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    float: left;
    padding-top: 18px;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .footer-copyright:last-child {
    margin-right: 0;
  }

  /* line 494, ../sass/_tablet.sass */
  .bottom-row #booking-cta {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    position: relative;
    float: right;
    padding-left: 20px;
    padding-top: 0;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .bottom-row #booking-cta:last-child {
    margin-right: 0;
  }
  /* line 500, ../sass/_tablet.sass */
  .bottom-row #booking-cta .cta-text {
    float: left;
    padding-top: 18px;
    width: 70%;
  }
  /* line 504, ../sass/_tablet.sass */
  .bottom-row #booking-cta .deck {
    float: right;
    width: 30%;
    width: 30%;
    height: 120px;
    background-position: 50% 10px;
  }

  /********************************************** */
  /*  sponser include                                     */
  /********************************************** */
  /* line 515, ../sass/_tablet.sass */
  #include-sponsors {
    max-width: 2024px;
  }

  /* line 518, ../sass/_tablet.sass */
  .sponsers-row {
    width: 100%;
    /********************************************** */
  }

  /*  food truck tuesday  page                                     */
  /********************************************** */
  /* line 527, ../sass/_tablet.sass */
  .page.food-truck-tuesdays .main-and-sidebar .hentry {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .page.food-truck-tuesdays .main-and-sidebar .hentry:last-child {
    margin-right: 0;
  }
  /* line 529, ../sass/_tablet.sass */
  .page.food-truck-tuesdays .main-and-sidebar .tuesday-sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    float: right;
    padding-top: 24px;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .page.food-truck-tuesdays .main-and-sidebar .tuesday-sidebar:last-child {
    margin-right: 0;
  }

  /* line 534, ../sass/_tablet.sass */
  .page.food-truck-tuesdays #live-music-events {
    position: relative;
  }
  /* line 536, ../sass/_tablet.sass */
  .page.food-truck-tuesdays #live-music-events li {
    float: right;
    width: 50%;
    padding: 4px;
  }
  /* line 540, ../sass/_tablet.sass */
  .page.food-truck-tuesdays #live-music-events #accordion {
    width: 39px;
    height: 60px;
    position: absolute;
    left: 335px;
    top: -25px;
  }
}
@media all and (min-width: 960px) {
  /* desktop and wider */
  /* line 4, ../sass/_desktop.sass */
  #global-header .mobile-nav-button-container {
    display: none;
  }

  /* line 7, ../sass/_desktop.sass */
  .live-at-larkin .post {
    padding-right: 40px;
  }

  /* line 13, ../sass/_desktop.sass */
  .page.food-truck-tuesdays .tuesday-sidebar ul li .image-container {
    float: left;
    width: 30%;
  }
  /* line 16, ../sass/_desktop.sass */
  .page.food-truck-tuesdays .tuesday-sidebar ul li .text {
    float: right;
    width: 70%;
  }
  /* line 19, ../sass/_desktop.sass */
  .page.food-truck-tuesdays .tuesday-sidebar ul li .text p {
    padding-left: 14px;
  }
  /* line 21, ../sass/_desktop.sass */
  .page.food-truck-tuesdays .tuesday-sidebar ul li p {
    color: black;
  }
}
