/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/larkin-events.sass */
#frontpage-events .title-container h2 {
  text-align: center;
  padding-bottom: 14px;
}

/* line 9, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 200px;
  height: 40px;
}
/* line 16, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only nav span {
  display: inline-block;
  width: 70px;
  height: 40px;
  cursor: pointer;
  cursor: hand;
  background-image: url("../img/sprite-pointer.jpg");
}
/* line 23, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only nav .pointer-right {
  float: right;
  background-position: 70px 0;
}
/* line 26, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only nav .pointer-left {
  float: left;
}

/* line 29, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only .event-pane {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  width: 98%;
  max-width: 145px;
  overflow: hidden;
}
/* line 38, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only .event-pane li .image-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  margin-bottom: 14px;
}
/* line 44, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only .event-pane li .image-container img {
  display: block;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 50, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only .event-pane li img, #frontpage-events .events-row.mobile-only .event-pane li p, #frontpage-events .events-row.mobile-only .event-pane li a {
  text-align: center;
}
/* line 52, ../sass/larkin-events.sass */
#frontpage-events .events-row.mobile-only .event-pane li p, #frontpage-events .events-row.mobile-only .event-pane li a {
  font-family: "lexia", sans-serif;
  font-size: 16px;
  color: black;
  margin-bottom: 8px;
}

/* line 58, ../sass/larkin-events.sass */
.events-row .pointer {
  display: none;
}

@media all and (min-width: 768px) {
  /********************************************** */
  /*   events styles for tablet and larger                 */
  /********************************************** */
  /* line 4, ../sass/_events_tablet.sass */
  .mobile-only {
    display: none;
  }

  /* line 7, ../sass/_events_tablet.sass */
  .events-row.tplus {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 98%;
    max-width: 800%;
    border: 1px solid #999999;
    margin-bottom: 24px;
  }

  /* line 16, ../sass/_events_tablet.sass */
  .events-row.tplus ul {
    background-color: #c4d6ec;
  }
  /* line 18, ../sass/_events_tablet.sass */
  .events-row.tplus ul li {
    list-style: none;
  }
}
