/********************************************** */
/* initialisation                                                              */
/********************************************** */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
/* line 35, ../sass/_defaults.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 46, ../sass/_defaults.scss */
html {
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 53, ../sass/_defaults.scss */
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}

/* line 58, ../sass/_defaults.scss */
body {
  background: #fff;
}

/* line 70, ../sass/_defaults.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* line 73, ../sass/_defaults.scss */
ol, ul {
  list-style: none;
}

/* line 76, ../sass/_defaults.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 80, ../sass/_defaults.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 85, ../sass/_defaults.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 88, ../sass/_defaults.scss */
blockquote, q {
  quotes: "" "";
}

/* line 91, ../sass/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* line 95, ../sass/_defaults.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 98, ../sass/_defaults.scss */
a img {
  border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
/* line 109, ../sass/_defaults.scss */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 116, ../sass/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 119, ../sass/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 122, ../sass/_defaults.scss */
b, strong {
  font-weight: bold;
}

/* line 125, ../sass/_defaults.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 128, ../sass/_defaults.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 131, ../sass/_defaults.scss */
address {
  margin: 0 0 1.5em;
}

/* line 134, ../sass/_defaults.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 145, ../sass/_defaults.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 148, ../sass/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 152, ../sass/_defaults.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 157, ../sass/_defaults.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 164, ../sass/_defaults.scss */
sup {
  bottom: 1ex;
}

/* line 167, ../sass/_defaults.scss */
sub {
  top: .5ex;
}

/* line 170, ../sass/_defaults.scss */
small {
  font-size: 75%;
}

/* line 173, ../sass/_defaults.scss */
big {
  font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
/* line 180, ../sass/_defaults.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 186, ../sass/_defaults.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 189, ../sass/_defaults.scss */
ul {
  list-style: disc;
}

/* line 192, ../sass/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 196, ../sass/_defaults.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 200, ../sass/_defaults.scss */
dt {
  font-weight: bold;
}

/* line 203, ../sass/_defaults.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 206, ../sass/_defaults.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 210, ../sass/_defaults.scss */
figure {
  margin: 0;
}

/* line 213, ../sass/_defaults.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 217, ../sass/_defaults.scss */
th {
  font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
/* line 227, ../sass/_defaults.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

/* line 235, ../sass/_defaults.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 253, ../sass/_defaults.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 264, ../sass/_defaults.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 269, ../sass/_defaults.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 272, ../sass/_defaults.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 278, ../sass/_defaults.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 282, ../sass/_defaults.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 291, ../sass/_defaults.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 301, ../sass/_defaults.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 308, ../sass/_defaults.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 311, ../sass/_defaults.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
/* line 324, ../sass/_defaults.scss */
a {
  color: royalblue;
}

/* line 327, ../sass/_defaults.scss */
a:visited {
  color: purple;
}

/* line 332, ../sass/_defaults.scss */
a:hover,
a:focus,
a:active {
  color: midnightblue;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
/* line 339, ../sass/_defaults.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* line 345, ../sass/_defaults.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 350, ../sass/_defaults.scss */
.main-navigation li {
  float: left;
  position: relative;
}

/* line 354, ../sass/_defaults.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* line 358, ../sass/_defaults.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  position: absolute;
  top: 1.5em;
  z-index: 99999;
}

/* line 367, ../sass/_defaults.scss */
.main-navigation ul ul ul {
  left: 100%;
  top: 0;
}

/* line 371, ../sass/_defaults.scss */
.main-navigation ul ul a {
  width: 200px;
}

/* line 382, ../sass/_defaults.scss */
.main-navigation ul li:hover > ul {
  display: block;
}

/* Small menu */
/* line 389, ../sass/_defaults.scss */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 394, ../sass/_defaults.scss */
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  /* line 398, ../sass/_defaults.scss */
  .main-navigation ul {
    display: none;
  }
}
/* line 404, ../sass/_defaults.scss */
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 410, ../sass/_defaults.scss */
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

/* line 416, ../sass/_defaults.scss */
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
/* line 426, ../sass/_defaults.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 436, ../sass/_defaults.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
/* line 458, ../sass/_defaults.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 463, ../sass/_defaults.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 468, ../sass/_defaults.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
/* line 488, ../sass/_defaults.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

/* line 498, ../sass/_defaults.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/* line 505, ../sass/_defaults.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
/* line 510, ../sass/_defaults.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 515, ../sass/_defaults.scss */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
/* line 527, ../sass/_defaults.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 531, ../sass/_defaults.scss */
.byline,
.updated {
  display: none;
}

/* line 535, ../sass/_defaults.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 540, ../sass/_defaults.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 543, ../sass/_defaults.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/* line 552, ../sass/_defaults.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
/* line 559, ../sass/_defaults.scss */
.comment-content a {
  word-wrap: break-word;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 570, ../sass/_defaults.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 574, ../sass/_defaults.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
/* line 583, ../sass/_defaults.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 592, ../sass/_defaults.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
/* line 599, ../sass/_defaults.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 603, ../sass/_defaults.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

/* line 607, ../sass/_defaults.scss */
.wp-caption-text {
  text-align: center;
}

/* line 610, ../sass/_defaults.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
/* line 617, ../sass/_defaults.scss */
.gallery {
  margin-bottom: 1.5em;
}

/* line 620, ../sass/_defaults.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* line 626, ../sass/_defaults.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 629, ../sass/_defaults.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

/* line 632, ../sass/_defaults.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 635, ../sass/_defaults.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 638, ../sass/_defaults.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 641, ../sass/_defaults.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 644, ../sass/_defaults.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 647, ../sass/_defaults.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* type settings */
/* line 3, ../sass/_type.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "lexia", sans-serif;
}

/* line 6, ../sass/_type.sass */
p, ul li, ol li, a {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
}

/* line 11, ../sass/_type.sass */
.header-nav li {
  margin-right: 6px;
}
/* line 13, ../sass/_type.sass */
.header-nav li a {
  font-family: "lexia", serif;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/* line 20, ../sass/_type.sass */
.header-nav a:hover {
  background-color: white;
  color: black;
  border-top: 1px solid #abdbcf;
  border-right: 1px solid #abdbcf;
  border-left: 1px solid #abdbcf;
}

/* line 10, ../sass/larkin.sass */
body {
  background-color: #dddddd;
}

/* line 13, ../sass/larkin.sass */
html, body {
  margin: 0 !important;
  padding: 0;
}

/* line 17, ../sass/larkin.sass */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/larkin.sass */
.inner-row {
  *zoom: 1;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
  max-width: 1024px;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.inner-row:before, .inner-row:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.inner-row:after {
  clear: both;
}

/* line 28, ../sass/larkin.sass */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, ../sass/larkin.sass */
.tplus {
  display: none;
}

/********************************************** */
/* initialisation ends                                                   */
/********************************************** */
/********************************************** */
/* global page header                                                */
/********************************************** */
/* line 44, ../sass/larkin.sass */
#masthead {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1020px;
  min-height: 300px;
  background-image: url("../img/social-scene-big.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* line 54, ../sass/larkin.sass */
#global-header {
  *zoom: 1;
  display: block;
  background-color: rgba(230, 237, 232, 0.9);
  overflow: hidden;
  border-bottom: 1px solid #abdbcf;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#global-header:before, #global-header:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#global-header:after {
  clear: both;
}
/* line 59, ../sass/larkin.sass */
#global-header .identity {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
#global-header .identity:last-child {
  margin-right: 0;
}
/* line 62, ../sass/larkin.sass */
#global-header .mobile-nav-button-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: block;
  height: 84px;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
#global-header .mobile-nav-button-container:last-child {
  margin-right: 0;
}
/* line 66, ../sass/larkin.sass */
#global-header .mobile-nav-button-container a {
  position: absolute;
  top: 8px;
  right: 1%;
  height: 100%;
  width: 50%;
  overflow: hidden;
  height: 70px;
  background-image: url(../img/navburger.png);
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 78, ../sass/larkin.sass */
#ubermenu {
  display: none;
}

/********************************************** */
/*           lots of fontpage stuff ...                             */
/********************************************** */
/********************************************** */
/*           header social links                                        */
/********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000387}}
#mobile-social-links-header ul {
  list-style: none;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000395}}
#mobile-social-links-header ul li {
  height: 22px;
  min-width: 20px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\0000399}}
#mobile-social-links-header ul li a {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("../img/sprites/social-icons.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003105}}
#mobile-social-links-header {
  /********************************************** */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003106}}
#mobile-social-links-header .social-link-fb a {
  background-position: 0px -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003108}}
#mobile-social-links-header .social-link-tw a {
  background-position: -22px -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003110}}
#mobile-social-links-header .social-link-instagram a {
  background-position: -47px -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003112}}
#mobile-social-links-header .social-link-flickr a {
  background-position: -73px -3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003114}}
#mobile-social-links-header .social-link-gp a {
  background-position: -96px -3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003116}}
#mobile-social-links-header .social-link-yelp {
  width: 42px;
  height: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003119}}
#mobile-social-links-header .social-link-yelp a {
  background-position: -120px 0px;
}

/*   frontpage masthead calls to action              */
/********************************************** */
<<<<<<< HEAD
/* line 90, ../sass/larkin.sass */
.masthead-calls {
  margin-top: 160px;
}
/* line 92, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003127}}
.masthead-calls {
  margin-top: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003129}}
>>>>>>> master
.masthead-calls .call-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
.masthead-calls .call-container:last-child {
  margin-right: 0;
}

<<<<<<< HEAD
/* line 95, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003132}}
>>>>>>> master
.call-container #party {
  background-color: white;
  margin-bottom: 18px;
  position: relative;
}
/* line 99, ../sass/larkin.sass */
.call-container #party .flower-girl {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 105, ../sass/larkin.sass */
.call-container #party .flower-girl a {
  display: block;
  height: 100%;
  width: 100%;
}
<<<<<<< HEAD
/* line 109, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003136}}
>>>>>>> master
.call-container #party p {
  font-size: 14px;
  text-align: center;
}
<<<<<<< HEAD
/* line 113, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003140}}
>>>>>>> master
.call-container #party header h3 {
  font-family: "fertigo-script", sans-serif;
  color: #00837d;
  text-align: center;
}
<<<<<<< HEAD
/* line 117, ../sass/larkin.sass */
.call-container #party footer {
  background-color: #e86d20;
}
/* line 119, ../sass/larkin.sass */
.call-container #party footer p {
  font-family: "fertigo-script", sans-serif;
}
/* line 121, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003144}}
.call-container #party footer {
  background-color: #e86d20;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003146}}
>>>>>>> master
.call-container #party footer a {
  color: white;
  font-family: "fertigo-pro", sans-serif;
  text-decoration: none;
  font-size: 16px;
  margin-right: 30px !important;
}

<<<<<<< HEAD
/* line 128, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003153}}
>>>>>>> master
.home #join-email-list {
  margin-bottom: 18px;
  padding: 1%;
  background-color: rgba(188, 188, 188, 0.8);
}
<<<<<<< HEAD
/* line 132, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003157}}
>>>>>>> master
.home #join-email-list span {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  background-color: white;
  font-size: 14px;
  height: 40px;
  line-height: 2.8;
  width: 98%;
}
<<<<<<< HEAD
/* line 143, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003168}}
>>>>>>> master
.home #join-email-list input {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
  display: block;
  text-align: center;
  background-color: rgba(0, 131, 125, 0.7);
  color: white;
  font-family: "fertigo-pro", sans-serif;
  border: 0;
}
<<<<<<< HEAD
/* line 154, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003179}}
>>>>>>> master
.home #join-email-list input::input-placeholder {
  color: white;
  font-family: "fertigo-pro", sans-serif;
  padding-left: 8px;
  font-size: 14px;
  line-height: 2.4;
}
<<<<<<< HEAD
/* line 160, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003185}}
>>>>>>> master
.home #join-email-list input::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  line-height: 2.4;
  padding-left: 8px;
  font-family: "fertigo-pro", sans-serif;
  font-size: 14px;
  line-height: 2.4;
}

/********************************************** */
/*   frontpage filling station section                   */
/********************************************** */
<<<<<<< HEAD
/* line 174, ../sass/larkin.sass */
#filling-station-intro {
  padding-top: 14px;
}
/* line 176, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003199}}
#filling-station-intro {
  padding-top: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003201}}
>>>>>>> master
#filling-station-intro header {
  background-color: #260e02;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 12px solid #f9cccf;
}

<<<<<<< HEAD
/* line 183, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003208}}
>>>>>>> master
#filling-station-calls {
  padding-top: 24px;
  padding-bottom: 56px;
  padding-bottom: 24px;
  background-color: #eda4b7;
}
<<<<<<< HEAD
/* line 188, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003213}}
>>>>>>> master
#filling-station-calls h2 {
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 28px;
}
<<<<<<< HEAD
/* line 193, ../sass/larkin.sass */
#filling-station-calls p {
  padding-bottom: 48px;
}
/* line 195, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003218}}
#filling-station-calls p {
  padding-bottom: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003220}}
>>>>>>> master
#filling-station-calls p a {
  display: inline-block;
  float: left;
  width: 50%;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid white;
  background-color: #d795a3;
  color: white;
  font-size: 16px;
  text-decoration: none;
  width: 50%;
  text-align: center;
  font-family: "fertigo-script";
  font-weight: 400;
}

/********************************************** */
/*           mobile navigation menu                             */
/********************************************** */
<<<<<<< HEAD
/* line 215, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003240}}
>>>>>>> master
#mobile-nav-menu {
  display: none;
  background-color: #456867;
}
<<<<<<< HEAD
/* line 218, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003243}}
>>>>>>> master
#mobile-nav-menu ul, #mobile-nav-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
<<<<<<< HEAD
/* line 222, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003247}}
>>>>>>> master
#mobile-nav-menu #menu-main-menu {
  padding-top: 14px;
  padding-bottom: 14px;
}
<<<<<<< HEAD
/* line 225, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003250}}
>>>>>>> master
#mobile-nav-menu #menu-main-menu li {
  position: relative;
  border-bottom: 1px solid #344b4a;
  border-top: 1px solid #608584;
  padding-right: 12px;
  padding-left: 12px;
}
<<<<<<< HEAD
/* line 231, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003256}}
>>>>>>> master
#mobile-nav-menu #menu-main-menu li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

/********************************************** */
/*           #frontpage-events-list                            */
 * /*********************************************** */
<<<<<<< HEAD
/* line 246, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003271}}
>>>>>>> master
.events-row {
  *zoom: 1;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
  max-width: 1024px;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.events-row:before, .events-row:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.events-row:after {
  clear: both;
}

<<<<<<< HEAD
/* line 254, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003279}}
>>>>>>> master
#frontpage-events {
  padding-top: 14px;
  background-color: #d5d5d5;
}
<<<<<<< HEAD
/* line 257, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003282}}
>>>>>>> master
#frontpage-events h2 {
  padding-bottom: 14px;
  color: #037b71;
}

/********************************************** */
/*           frontpage events                                           */
/********************************************** */
<<<<<<< HEAD
/* line 266, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003291}}
>>>>>>> master
#frontpage-events {
  background-color: white;
  border-top: 1px solid grey;
}
<<<<<<< HEAD
/* line 269, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003294}}
>>>>>>> master
#frontpage-events ul {
  position: relative;
  margin: 0;
  list-style: none;
  background: #dddddd;
}
<<<<<<< HEAD
/* line 274, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003299}}
>>>>>>> master
#frontpage-events ul li {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  text-align: center;
  margin-bottom: 24px;
}
<<<<<<< HEAD
/* line 281, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003306}}
>>>>>>> master
#frontpage-events ul li span {
  font-family: "lexia", sans-serif;
  font-size: 14px;
  display: block;
}

<<<<<<< HEAD
/* line 286, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003311}}
>>>>>>> master
.events-row .pointer {
  display: none;
}

/********************************************** */
/*   frontpage sponsers                                              */
/********************************************** */
<<<<<<< HEAD
/* line 293, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003318}}
>>>>>>> master
.home #sponsers {
  padding-top: 48px;
  padding-bottom: 28px;
  background-color: white;
}
<<<<<<< HEAD
/* line 297, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003322}}
>>>>>>> master
.home #sponsers h2 {
  padding-bottom: 24px;
}

/********************************************** */
/* global  footer                                                              */
/********************************************** */
<<<<<<< HEAD
/* line 305, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003330}}
>>>>>>> master
#global-footer {
  background-color: #3a5c5b;
  padding-top: 28px;
  padding-bottom: 14px;
  color: white;
  font-size: 16px;
}
<<<<<<< HEAD
/* line 311, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003336}}
>>>>>>> master
#global-footer .footer-col {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #1d4544;
}
<<<<<<< HEAD
/* line 315, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003340}}
>>>>>>> master
#global-footer .footer-col #footer-contact {
  font-family: "lexia", sans-serif;
  font-weight: 400;
}
<<<<<<< HEAD
/* line 319, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003344}}
>>>>>>> master
#global-footer #footer-news h3 {
  text-transform: uppercase;
  padding-bottom: 12px;
  font-family: "lexia", sans-serif;
  font-weight: 400;
}
<<<<<<< HEAD
/* line 324, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003349}}
>>>>>>> master
#global-footer #footer-news article {
  border-bottom: 1px solid #1d4544;
  padding-top: 12px;
}
<<<<<<< HEAD
/* line 327, ../sass/larkin.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/larkin\.sass}line{font-family:\00003352}}
>>>>>>> master
#global-footer #footer-news a {
  text-decoration: none;
  font-family: "lexia", sans-serif;
  font-weight: 400;
  color: white;
}

/********************************************** */
/* now we include styles for wider screens     */
/********************************************** */
@media all and (min-width: 768px) {
  /*  settings for 'tablet width' and up */
  /* line 3, ../sass/_tablet.sass */
  #masthead {
    max-width: 1020px;
  }

  /* line 6, ../sass/_tablet.sass */
  .home #masthead {
    height: 890px;
  }

  /* header navigation */
  /* line 10, ../sass/_tablet.sass */
  #global-header {
    position: relative;
  }
  /* line 12, ../sass/_tablet.sass */
  #global-header .mobile-nav-button-container {
    display: none;
  }
  /* line 14, ../sass/_tablet.sass */
  #global-header .nav-and-social {
    display: display;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #global-header .nav-and-social:last-child {
    margin-right: 0;
  }

<<<<<<< HEAD
  /* line 20, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000316}}
>>>>>>> master
  .header-nav {
    position: absolute;
    bottom: 0;
    right: 0;
  }
<<<<<<< HEAD
  /* line 24, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000320}}
>>>>>>> master
  .header-nav li {
    list-style: none;
    float: left;
  }
<<<<<<< HEAD
  /* line 27, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000323}}
>>>>>>> master
  .header-nav a {
    display: block;
    padding: 8px;
    color: #007f70;
  }

<<<<<<< HEAD
  /* line 33, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000329}}
>>>>>>> master
  #ubermenu {
    background-color: white;
    position: absolute;
    right: 40px;
    top: 85px;
    height: 180px;
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
  }
<<<<<<< HEAD
  /* line 43, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000339}}
>>>>>>> master
  #ubermenu section {
    overflow: visible;
    float: left;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
<<<<<<< HEAD
  /* line 51, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000347}}
>>>>>>> master
  #ubermenu section.left header {
    background-color: #00837d;
    padding: 10px;
  }
<<<<<<< HEAD
  /* line 54, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000350}}
>>>>>>> master
  #ubermenu section.left header h3 {
    color: white;
    font-family: "fertigo-pro", sans-serif;
    font-style: italic;
    font-size: 14px;
  }
<<<<<<< HEAD
  /* line 59, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000355}}
>>>>>>> master
  #ubermenu section.left section.right {
    padding-top: 0;
  }

<<<<<<< HEAD
  /* line 62, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000358}}
>>>>>>> master
  #ubermenu li {
    height: 16px;
    margin-bottom: 12px;
  }
<<<<<<< HEAD
  /* line 65, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000361}}
>>>>>>> master
  #ubermenu li a {
    background-color: #dedede;
    height: 14px;
    line-height: 0;
    padding: 0;
    margin: 0;
  }

<<<<<<< HEAD
  /* line 72, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000368}}
>>>>>>> master
  #ubermenu .nav-left {
    width: 50%;
  }

<<<<<<< HEAD
  /* line 75, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000371}}
>>>>>>> master
  #ubermenu .nav-right {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black !important;
  }

<<<<<<< HEAD
  /* line 82, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000378}}
>>>>>>> master
  #ubermenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
<<<<<<< HEAD
  /* line 86, ../sass/_tablet.sass */
  #ubermenu ul li {
    list-style: none;
  }
  /* line 88, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000382}}
  #ubermenu ul li {
    list-style: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000384}}
>>>>>>> master
  #ubermenu ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #008276;
  }

  /********************************************** */
  /*   header social links                                              */
  /********************************************** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000393}}
  #mobile-social-links-header {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\0000397}}
  #global-header .nav-and-social ul#social-links {
    float: right;
    margin-top: 10px;
    margin-right: -40px !important;
    list-style: none;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003106}}
  #global-header .nav-and-social ul#social-links li {
    height: 22px;
    min-width: 20px;
    display: inline-block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003110}}
  #global-header .nav-and-social ul#social-links li a {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../img/sprites/social-icons.png");
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003117}}
  .nav-and-social #social-links .social-link-fb a {
    background-position: 0px -2px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003119}}
  .nav-and-social #social-links .social-link-tw a {
    background-position: -22px -2px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003121}}
  .nav-and-social #social-links .social-link-instagram a {
    background-position: -47px -2px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003123}}
  .nav-and-social #social-links .social-link-flickr a {
    background-position: -73px -3px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003125}}
  .nav-and-social #social-links .social-link-gp a {
    background-position: -96px -3px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003127}}
  .nav-and-social #social-links .social-link-yelp {
    width: 42px;
    height: 24px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003130}}
  .nav-and-social #social-links .social-link-yelp a {
    background-position: -120px 0px;
  }

  /********************************************** */
  /*   frontpage masthead calls to action              */
   * /*********************************************** */
<<<<<<< HEAD
  /* line 97, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003138}}
>>>>>>> master
  .masthead-calls {
    width: 100%;
    margin-top: 540px;
  }
<<<<<<< HEAD
  /* line 100, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003140}}
>>>>>>> master
  .masthead-calls .call-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .masthead-calls .call-container:last-child {
    margin-right: 0;
  }
  /* line 102, ../sass/_tablet.sass */
  .masthead-calls #party {
    padding-top: 12px;
    max-width: 320px;
  }
  /* line 105, ../sass/_tablet.sass */
  .masthead-calls #party .flower-girl a {
    background-image: url("../img/illustrations/flower-girl.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  /* line 109, ../sass/_tablet.sass */
  .masthead-calls #party header h3 {
    text-align: left;
    padding-left: 13px;
    width: 170px;
    font-size: 18px;
  }
  /* line 114, ../sass/_tablet.sass */
  .masthead-calls #party p {
    text-align: left;
    padding-left: 13px;
    width: 170px;
  }
  /* line 118, ../sass/_tablet.sass */
  .masthead-calls #party footer p {
    text-align: left;
    width: 100%;
    font-style: italic;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  /********************************************** */
  /*           frontpage events                                           */
  /********************************************** */
<<<<<<< HEAD
  /* line 130, ../sass/_tablet.sass */
  #frontpage-events .events-row {
    width: 100%;
  }
  /* line 132, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003149}}
  #frontpage-events .events-row {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003151}}
>>>>>>> master
  #frontpage-events .events-row .pointer {
    display: block;
    float: left;
    background-color: #addb9b;
    height: 144px;
    width: 10%;
  }

<<<<<<< HEAD
  /* line 139, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003158}}
>>>>>>> master
  #frontpage-events .events-row ul {
    position: relative;
    float: left;
    width: 80%;
  }
<<<<<<< HEAD
  /* line 143, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003162}}
>>>>>>> master
  #frontpage-events .events-row ul li {
    display: inline-block;
    width: 22%;
  }

  /********************************************** */
  /*           frontpage filling-station stuff                 */
  /********************************************** */
<<<<<<< HEAD
  /* line 152, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003171}}
>>>>>>> master
  #filling-station-intro header, #filling-station-intro #filling-station-calls {
    float: left;
    width: 50%;
    overflow: visible;
  }
<<<<<<< HEAD
  /* line 156, ../sass/_tablet.sass */
  #filling-station-intro header {
    border-bottom: none;
  }
  /* line 159, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003175}}
  #filling-station-intro header {
    border-bottom: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003178}}
>>>>>>> master
  #filling-station-intro #filling-station-calls p {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
<<<<<<< HEAD
  /* line 164, ../sass/_tablet.sass */
  #filling-station-intro #filling-station-calls p a {
    width: 45%;
  }
  /* line 166, ../sass/_tablet.sass */
  #filling-station-intro #filling-station-calls p .first {
    float: left;
  }
  /* line 168, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003183}}
  #filling-station-intro #filling-station-calls p a {
    width: 45%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003185}}
  #filling-station-intro #filling-station-calls p .first {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003187}}
>>>>>>> master
  #filling-station-intro #filling-station-calls p .second {
    float: right;
  }

  /********************************************** */
  /*   frontpage sponsers                                              */
  /********************************************** */
<<<<<<< HEAD
  /* line 176, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003195}}
>>>>>>> master
  .home .sponser-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 530px;
  }
<<<<<<< HEAD
  /* line 182, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003201}}
>>>>>>> master
  .home .sponser-container section {
    display: inline;
    width: 50%;
    text-align: center;
  }

  /********************************************** */
  /*   footer stuffz                                                              */
  /********************************************** */
<<<<<<< HEAD
  /* line 191, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003210}}
>>>>>>> master
  #global-footer {
    *zoom: 1;
    display: block;
  }
  /* line 18, ../sass/bourbon/addons/_clearfix.scss */
  #global-footer:before, #global-footer:after {
    content: " ";
    display: table;
  }
  /* line 23, ../sass/bourbon/addons/_clearfix.scss */
  #global-footer:after {
    clear: both;
  }
<<<<<<< HEAD
  /* line 193, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003212}}
>>>>>>> master
  #global-footer #footer-contact {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #global-footer #footer-contact:last-child {
    margin-right: 0;
  }
<<<<<<< HEAD
  /* line 195, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003214}}
>>>>>>> master
  #global-footer #footer-news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #global-footer #footer-news:last-child {
    margin-right: 0;
  }
<<<<<<< HEAD
  /* line 197, ../sass/_tablet.sass */
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/larkin\/wp-content\/themes\/larkin-square\/sass\/_tablet\.sass}line{font-family:\00003216}}
>>>>>>> master
  #global-footer #outreach {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    background-color: #dddddd;
  }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  #global-footer #outreach:last-child {
    margin-right: 0;
  }
}
@media all and (min-width: 960px) {
  /* desktop and wider */
  /* line 4, ../sass/_desktop.sass */
  #global-header .mobile-nav-button-container {
    display: none;
  }
}
