/* desktop and wider */

#global-header
  .mobile-nav-button-container
    display: none
    
.live-at-larkin .post
  padding-right: 40px

.page.food-truck-tuesdays .tuesday-sidebar
  ul
    li
      .image-container
        float: left
        width: 30%
      .text
        float: right
        width: 70%
        p
          padding-left: 14px
      p
        color: #000
        
