/************************************************/
/*   events styles for tablet and larger                 */
/************************************************/  
.mobile-only
  display: none

.events-row.tplus
  position: relative
  margin-right: auto
  margin-left: auto
  width: 98%
  max-width: 800%
  border: 1px solid #999   
  margin-bottom: 24px
  
.events-row.tplus ul
  background-color: #c4d6ec
  li
    list-style: none
