/*  settings for 'tablet width' and up */

.tplus
  display: block
  
.home #masthead
  height: 789px

.title-container
  max-width: 810px
  
.identity .logo-container
  height: 72px
  width: 320px
  background-image: url('../img/larkin-logo-tplus.png')
  
/* header navigation*/
#global-header
  position: relative
  .mobile-nav-button-container 
    display: none 
  .nav-and-social
    @include span-columns(6)
    float: right
    margin-right: 0
    height: 87px


.header-nav
  position: absolute
  bottom: 0
  right: 0
  li  
    list-style: none
    float: left
  a
    display: block
    padding: 8px
    color:    #007f70
    border: 1px solid transparent

/************************************************/
/*  page defaults                                                            */
/************************************************/

.page .content-wrap
  position: relative
  background-color: #FFF
  padding-bottom: 28px
  #primary
    @include span-columns(8)
    position: relative
    #main
      position: relative
      margin-right: auto
      margin-left: auto
      height: 100%
      width: 96%
  #secondary
    padding-top: 18px
    padding-left: 12px
    padding-right: 12px
    @include span-columns(4)
    background-color: #225252
    
/************************************************/
/*  ubermenu                                                                   */
/************************************************/
    
#ubermenu
  background-color: #fff
  position: absolute
  right: 40px
  top: 85px
  height: 190px
  width: 600px
  padding-left: 15px
  padding-right: 15px
  padding-top: 24px
  section
    overflow: visible
    float: left
    height: 100%
    width: 50%
    padding-left: 10px
    padding-right: 10px
  section.left
    position: relative
    padding-left: 0px
    padding-right: 10px
    header
      background-color: #00837d
      padding-top: 15px
      padding-bottom: 12px
      margin-bottom: 18px
      h3
        color: #FFF
        font-family: "fertigo-pro", sans-serif
        font-style: italic
        font-size: 14px
        text-align: center
    section.right
      padding-top: 0

#ubermenu li
  height: 16px
  margin-bottom: 12px
  a
    height: 14px
    line-height: 0
    padding: 0 
    margin: 0
  
#ubermenu .nav-left
  width: 50%
      
#ubermenu .nav-right
  position: absolute
  top: 20px
  right: 10px
  height: 150px
  width: 160px
  background-image: url('../img/illustrations/square-building.jpg')
  background-repeat: no-repeat
  background-position: bottom right
  
#ubermenu .hoop
  position: absolute
  right: 10px
  bottom: 10px
  height: 82px
  width: 45px
  background-image: url('../img/illustrations/hula-hoop.jpg')
  
#ubermenu ul
  margin: 0
  padding: 0
  list-style: none
  li
    list-style: none
    a
      font-size: 12px
      text-decoration: none
      color: #008276

#ubermenu .sponsor-links
  display: block !important
  position: relative
  height: 31px
  width: 175px
  a
    background-image: url('../img/sprites/ubermenu-sponsors.jpg')
    display: block
    height: 30px
    float: left
  .first-niagara
    width:  85px
    margin-right: 20px
  .independent-health
    width: 58px 
    background-position:  58px 0


/************************************************/
/*   header social links                                              */ 
/************************************************/

#mobile-social-links-header
  display: none
 
#global-header .nav-and-social
  ul.social-links
    float: right
    list-style: none
    position: relative
    text-align: center
    padding-top: 2px
    li
      height: 22px
      min-width: 17px
      display: inline-block
      a
        display: block
        height: 100%
        width: 100%
        background-image: url("../img/sprites/social-icons.png")

.site-header .nav-and-social .social-links 
  z-index: 500
    
.nav-and-social .social-links  
  .social-link-fb a    
    background-position: 1px -3px
  .social-link-tw a 
    background-position: -23px -3px
  .social-link-instagram a
    background-position: -47px -3px
  .social-link-flickr a
    background-position: -73px -4px
  .social-link-gp a
    background-position: -96px -3px
  .social-link-yelp
    width: 42px
    height: 24px
    a
      background-position: -120px -3px
  .social-link-youtube a
    height: 28px !important
    width: 28px   !important
    background-position: 26px -3px

    
/************************************************/
/*   frontpage masthead calls to action              */
  /************************************************/

.masthead-calls
  @include row()
  margin-top: 540px
  width: 100%
    
.call-container #party
  max-width: 320px
  .flower-girl  
    background-image: url("../img/illustrations/flower-girl.png")
    background-repeat: no-repeat
    background-position:  90%  70% 
  header
    h3
      padding-top: 3px
      padding-bottom: 3px
  p.message
    width: 240px
    padding-top: 0
    padding-bottom: 0
    margin-bottom: 5px
  h3
    font-size: 24px 
  footer 
    p
      padding-top: 0
      padding-bottom: 0
      font-family: "fertigo-script", serif 
      font-style: italic
  footer p, footer a
    display: block
  
    
.home  .join-email-list
  position: absolute
  bottom: 18px
  right: 12px
  width: 400px
  height: 46px
  line-height: 2
  .float
    position: relative
    float: left
    width: 50%
    overflow: hidden
    .span
      display: inline-block
      font-family: "lexia", sans-serif !important
      input
        padding: 0
      
.home #join-email-list span
  font-family: "proxima-nova", sans-serif !important
  

.home #join-email-list div.first
  height: 38px
  border-radius: 0
  input
    border-radius: 0
    
.home #join-email-list div.second
  input
    height: 100%
    font-size: 14px
    line-height: 1
    border-radius: 0
  input::-webkit-input-placeholder
    line-height: 1
    font-family: "fertigo-script", serif 
  input::-moz-placeholder
    line-height: 1
    font-family: "fertigo-script", serif 
  input::-ms-input-placeholder
    line-height: 1
    font-family: "fertigo-script", serif 

.home #primary
  padding-top: 0

.home #main
  padding-top: 0
  
  
/************************************************/
/*           frontpage events                                           */
/************************************************/

    
/************************************************/
/*           frontpage filling-station stuff                 */
/************************************************/

.home #filling-station-calls
  height: 197px
  padding-bottom: 0
  h2
    font-size: 37px !important
    padding-top: 20px
    padding-bottom: 10px
  p
    padding-bottom: 0
    
  
#filling-station-intro
  header, #filling-station-calls
    float: left
    width: 50%
    overflow: visible
    padding-top: 0
  header
    position: relative 
    border-bottom: none
    background-position: 60px 50%
    
      
#filling-station-intro 
  .delim
    display: block
    position: absolute
    right: 0
    top: 0
    height: 197px
    width: 74px
    z-index: 3000
    background-image: url("../img/fs-delim.jpg")
    
  #filling-station-calls
    p
      position: relative
      margin-left: auto
      margin-right: auto
      max-width: 400px
      a
        width: 45%
      .first
        float: left
      .second
        float: right

/************************************************/
/*   live at larkin page                                                  */
/************************************************/

.live-at-larkin .masthead-page-logo
  margin-top: 60px
  text-align: left
  img
    width: 160px
    height: 160px 
    position: absolute
    left: 160px
    
.live-at-larkin .post
  @include span-columns(7)
  padding-right: 20px
  h3
    padding-bottom: 16px

.live-at-larkin-sidebar
  @include span-columns(5)
  
#live-series
  margin-top: 40px
  padding-bottom: 0
  margin-bottom: 24px
  
#live-series ul
  list-style: none   
  li
    margin-bottom: 12px
    span
      display: block
      font-size: 12px 
    .date
      font-family: "lexia", serif
      font-size: 15px
    .event
      color: #00837d

        
/************************************************/
/*   frontpage sponsers                                              */
/************************************************/

.home #sponsers
  .inner-row
    width: 830px
    h2      
      color: #389a99
  
.home .sponser-container
  position: relative
  margin-left: auto
  margin-right: auto
  width: 90%
  max-width: 530px
  section
    display: inline
    width: 50%
    text-align: center
    border-bottom: 0
  .first
    margin-right: 112px
    
/************************************************/
/*   live at larkin page                                                  */
  /************************************************/

#live-at-larkin-sponsors 
  h2
    text-align: center
#live-at-larkin-sponsors .sponsor-list
  position: relative
  margin-left: auto
  margin-right: auto
  width: 200px
    
/************************************************/
/*   pickleball rules page                                                */
/************************************************/

.pickleball-courts .masthead-page-logo
  text-align: left
  margin-top: 133px
  img
    padding-left: 110px
    
.pickleball-post
  @include span-columns(6)

#pickleball-rules-table
  @include span-columns(6)
    
/************************************************/
/*   footer stuffz                                                              */
/************************************************/

#global-footer
  @include row()
  margin-right: auto
  margin-left: auto
  max-width: 1024px
  #footer-contact
    @include span-columns(3)
    border-bottom: 0
  #footer-news
    @include span-columns(3)
  #outreach
    @include span-columns(6)

  /************************************************/
  /*   footer #outreach                                                 */    
/************************************************/

#outreach .row-one
  position: relative
  
#global-footer #outreach #social-ctas
  position: relative
  float: left
  width: 48%
  border-radius: 3px
  h3
    text-align: left
    padding-left: 24px
  
#outreach #footer-email-invitation
  position: relative
  float: right
  width: 48%
  border-radius: 3px
  
.footer-copyright  
  @include span-columns(6)
  float: left
  padding-top: 18px
  
.bottom-row #booking-cta
  @include span-columns(6)
  position: relative
  float: right
  padding-left: 20px
  padding-top: 0  
  .cta-text
    float: left
    padding-top: 18px
    width: 70%
  .deck 
    float: right
    width: 30%
    width: 30%
    height: 120px
    background-position: 50% 10px      

/************************************************/
/*  sponser include                                     */
/************************************************/

#include-sponsors
  max-width: 2024px

.sponsers-row
  width: 100%
  
  /************************************************/
/*  food truck tuesday  page                                     */
/************************************************/

.page.food-truck-tuesdays
  .main-and-sidebar
    .hentry 
      @include span-columns(7)
    .tuesday-sidebar
      @include span-columns(4)
      float: right
      padding-top: 24px

.page.food-truck-tuesdays #live-music-events
  position: relative
  li
    float: right
    width: 50%
    padding: 4px
  #accordion
    width: 39px
    height: 60px
    position: absolute
    left: 335px
    top: -25px   
