/* type settings */

h1, h2, h3, h4, h5, h6
  font-family: "lexia", sans-serif
  color: #00837d

h3
  16px
  
p, ul li, ol li, a
  font-family:  "proxima-nova", sans-serif
  font-weight: 400
  font-size: 12px
  
.header-nav
  li
    margin-right: 6px
    a
      font-family: "lexia", serif
      font-size: 16px
      text-decoration: none
      transition: background-color 0.4s ease, color 0.4s ease
      border-top-left-radius: 6px
      border-top-right-radius: 6px
  a:hover
    background-color: #FFF
    color: #000
    border-top: 1px solid #abdbcf
    border-right: 1px solid #abdbcf
    border-left: 1px solid #abdbcf
