/************************************************/
/* initialisation                                                              */
/************************************************/
 
@import "defaults"
@import "bourbon/bourbon"
@import "neat/neat"
@import "type"

body
  background-color: #DDD

html, body
  margin: 0 !important
  padding: 0
  
*
  box-sizing: border-box
  
.inner-row 
  @include row() 
  position: relative 
  margin-right: auto 
  margin-left: auto 
  width: 96% 
  max-width: 1024px 

.group:after 
  content: ""
  display: table
  clear: both

.tplus
  display: none
  
/************************************************/
/* initialisation ends                                                   */
/************************************************/
  
/************************************************/
/* global page header                                                */
/************************************************/

#masthead
  position: relative
  margin-left: auto
  margin-right: auto
  max-width: 1020px
  background-image: url("../img/social-scene-big.jpg")
  background-position: top center
  background-repeat: no-repeat
    
#global-header
  @include row
  height: 89px
  background-color: rgba(230, 237, 232, 0.9)
  overflow: hidden
  border-bottom: 1px solid #abdbcf
  .identity
    @include span-columns(6)
    margin-right: 0
    height: 84px
    
  .mobile-nav-button-container
    @include span-columns(6)
    display: block
    height: 84px
    a
      position: absolute
      top: 8px
      right: 1% 
      height: 100%
      width: 50%
      overflow: hidden
      height: 74px
      background-image: url(../img/navburger.png)
      background-repeat: no-repeat
      background-position: right center
      background-position: 100% -2px
      
.identity .logo-container
  position: absolute
  display: block
  top: 8px
  left: 0
  height: 72px
  width: 72px
  background-image: url('../img/larkin-logo.png')
    
  
#ubermenu
  display:    none
  z-index: 300
  
/************************************************/
/*          default page settings                                  */
/************************************************/

#main
  padding-top: 28px 
  
#primary
  position: relative
  margin-left: auto
  margin-right: auto
  width: 100%
  max-width: 1024px
  background-color: #FFF

.masthead-page-logo
  position: relative
  
.entry-content 
  h1
    margin-bottom: 14px 

  
/************************************************/
/*           lots of fontpage stuff ...                             */
/************************************************/

/************************************************/
/*           header social links                                        */
/************************************************/

#mobile-social-links-header, #outreach #social-ctas
  ul
    list-style: none
    position: relative
    margin-right: auto
    margin-left: auto
    text-align: center
    background-color: rgba(255, 255, 255, 0.4)
    
    li
      height: 22px
      min-width: 20px
      display: inline-block
      a
        display: block
        height: 100%
        width: 100%
        background-image: url("../img/sprites/social-icons.png")
  
#mobile-social-links-header, #outreach #social-ctas
  .social-link-fb a    
    background-position: 0px -2px
  .social-link-tw a 
    background-position: -22px -2px
  .social-link-instagram a
    background-position: -47px -2px
  .social-link-flickr a
    background-position: -73px -3px
  .social-link-gp a
    background-position: -96px -3px
  .social-link-yelp
    width: 42px
    height: 24px
    a
      background-position: -120px 0px
  .social-link-youtube a
    height: 28px !important
    width: 28px   !important
    background-position: 26px -3px
      
  /************************************************/
/*   frontpage masthead calls to action              */
/************************************************/

.masthead-calls
  margin-top: 160px
  .call-container
    @include span-columns(12)

.call-container #party
  position: relative
  
.call-container #party .flower-girl
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  a
    display: block
    height: 100%
    width: 100%
    
.call-container #party
  position: relative
  background-color: #fff
  margin-bottom: 18px  
  p
    font-size: 14px
    padding: 12px
  header
    h3
      padding-top: 12px
      font-family: "fertigo-script", sans-serif
      color: #00837d
      padding-left: 12px
  footer
    background-color: #e86d20
    a
      color: #FFF
      font-family: "fertigo-pro", sans-serif
      text-decoration: none
      font-size: 16px
      margin-right: 30px !important

      
#join-email-list
  padding: 1%
  background-color: rgba(195, 195, 195, 0.8)
  span
    position: relative
    display: block
    text-align: center
    background-color: #FFF
    font-size: 14px
    height: 40px
    line-height: 2.8
    width: 98%
  input
    position: relative
    margin-right: auto
    margin-left: auto
    width: 98%
    display: block
    text-align: center
    color: rgba(0, 131, 125, 1)
    font-family: "fertigo-pro", sans-serif
    border: 0
    width: 100%
    height: 38px
  input::input-placeholder
    background-color: rgba(0, 131, 125, 0.7)
    padding-left: 8px
    font-size: 14px
    line-height: 2.4
    height: 38px
  input::-webkit-input-placeholder
    color:   rgba(0, 131, 125, 0.7)
    font-size: 14px
    padding-left: 8px
    font-size: 14px
    font-family: "proxima-nova", sans-serif
    line-height: 2.4
    height: 38px

.call-container  #join-email-list
  margin-bottom: 14px

footer #join-email-list
  margin-bottom: 0
  
#masthead .join-email-list .second
  background-color: rgba(0, 131, 125, 0.7)
  height: 38px   
  span
    background-color: transparent
    color: #FFF
    font-family: "fertigo-script", sans-serif !important
    font-size: 17px
    line-height: 2 !important
    
/************************************************/
/*   frontpage filling station section                   */
/************************************************/
      
#filling-station-intro
  background-position: 0 0
  header
    height: 197px
    background-color: #260e02
    padding-top: 16px
    padding-bottom: 16px
    text-align: center
    overflow: visible
    border-bottom: 12px solid #f9cccf
    background-image: url("../img/title-filling-station.jpg")
    background-repeat: no-repeat
    background-position: 50% 50%
    
  .delim 
    display: none
    
#filling-station-calls
  display: block
  padding-top: 24px
  padding-bottom: 56px
  padding-bottom: 24px
  background-color: #eda4b7  
  h2
    color: #FFF
    text-align: center
    padding-top: 12px
    padding-bottom: 28px
  p
    padding-bottom: 48px
  p a
    display: inline-block
    float: left
    width: 50%
    padding-top: 14px
    padding-bottom: 14px
    border: 1px solid #fff
    background-color: #d795a3
    color: #FFF
    font-size: 16px
    text-decoration: none
    width: 50%
    text-align: center
    font-family: "fertigo-script"
    font-weight: 400
    
/************************************************/
/*           mobile navigation menu                             */
/************************************************/

#mobile-nav-menu
  display: none
  background-color: #456867
  ul, li
    list-style: none
    padding: 0
    margin: 0
  #menu-main-menu
    padding-top: 14px
    padding-bottom: 14px
    li
      position: relative
      border-bottom: 1px solid #344b4a
      border-top: 1px solid #608584
      padding-right: 12px
      padding-left: 12px
      a
        color: #FFF
        text-decoration: none
        font-size: 14px
        display: block
        width: 100%
        padding-top: 12px
        padding-bottom: 12px
        letter-spacing: 1px
        
    

/************************************************/
/*   frontpage styles ended                                       */
  /************************************************/

/************************************************/
/*   defaults for pages                                                 */
/************************************************/

.page
  #masthead
    height: 341px
   

/************************************************/
/*   live at larkin page                                                  */
  /************************************************/

.live-at-larkin #masthead
  background-image: url('../img/live-header.jpg')

.live-at-larkin .masthead-page-logo
  margin-top: 60px
  text-align: center
  img
    height: 100px
    
#live-series
  padding-top: 24px
  padding-bottom: 24px
  padding: 3%
  margin-right: 0
  margin-left: 0
  margin-bottom: 28px
  background-color: #efefef
  
#live-series  header
  position: relative
  margin-right: auto
  margin-left: auto
  margin-top: 8px
  margin-bottom: 24px
  h2, h3
    font-family: "fertigo-script"
    color: #00837d
    text-align: center
    
#live-series ul
  margin-left: 0
  list-style: none   
  li
    margin-bottom: 12px
    span
      display: block
      font-size: 16px
    .date
      font-family: "lexia", serif
      font-size: 16px
    .event
      color: #00837d

#include-sponsors
  background-color: #FFF
  padding-top: 24px
  padding-bottom: 24px
  text-align: center
  h3
    text-transform: uppercase
    font-size: 16px      
    padding-bottom: 12px
    
#live-at-larkin-sponsors
  h2
    font-size: 14px
    margin-bottom: 12px
    
#live-at-larkin-sponsors .sponsor-list
  margin-bottom: 24px
  
#live-at-larkin-sponsors  a
  background-color: #DDD
  background-image: url("../img/sprites/sidebar-sponsors.jpg")
  display: block
  height: 30px
  width: 50%
  float: left
#live-at-larkin-sponsors  a.first-niagara
  width: 100px
  margin-right: 30px
#live-at-larkin-sponsors  a.independent-health
  width: 68px
  background-position: 68px 0
  
/************************************************/
/*   frontpage sponsers                                              */
/************************************************/
.home #sponsers
  padding-top: 20px
  padding-bottom: 28px
  background-color: #fff
  h2
    padding-bottom: 24px
    font-size: 32px

.home .sponser-container
  section
    padding-top: 18px
    padding-bottom: 18px
    border-bottom: 1px dashed #bfd5f1
    position: relative

      
    
/************************************************/
/*  pickelball page                                                        */
  /***********************************************/

.pickleball-courts #masthead
  background-image: url('../img/header-pickleball.jpg')

.pickleball-courts .masthead-page-logo
  text-align: center

.pickleball-courts .hentry .entry-content
  h2, h3, h4, h4
    font-family: "proxima-nova" !important
    font-weight: 400
    color: #000
    font-size: 14px
    padding-bottom: 12px
    
#pickleball-rules-table
  position: relative
  background-color: #215352
  color: #FFF
  padding: 12px
  margin-bottom: 24px
  ol
    border: 2px solid #FFF
    padding-left: 8px
    padding-right: 8px
    padding-top: 120px
    list-style-position: inside
    margin: 0
    li
      margin-bottom: 8px
      width: 90%
      
#pickleball-rules-table .bats
  position: absolute
  width: 73px
  height: 63px
  z-index: 500
  top: 20px
  right: 20px

  
#pickleball-rules-table header
  top: 18px
  left: 0
  position: absolute
  width: 100%  
  text-align: center
  
  h2
    color: #FFF
    text-transform: uppercase
    letter-spacing: 2px
    font-size: 18px
    padding-top: 8px
    padding-bottom: 8px
  h3
    background-color: #FFF
    color: #ed6a18
    font-size: 22px
    text-transform: uppercase


   
/************************************************/
/*  Food Truck Tuesdays Page Template          */
/************************************************/
    
.page.food-truck-tuesdays
  .content-wrap
    position: relative
    margin-right: auto
    margin-left: auto
    width: 100%
    max-width: 1024px
    .hentry
      margin-bottom: 12px
    .entry-content
      margin-bottom: 0      
      
.page.food-truck-tuesdays #live-music-events
  h2
    font-family: "lexia", serif
    font-size: 20px
    margin-bottom: 24px
  ul
    list-style: none
    margin-left: 0
    li
      margin-bottom: 22px
      p
        margin-bottom: 0
      p.date
        font-weight: bold
        font-family: "proxima-nova"
      h3 a, .date
        font-family: "proxima-nova"
        color: #00837d
        text-decoration: none
        font-weight: bold
    .excerpt p
      color:   #000 
      
div#accordion
  margin-bottom: 12px
  text-align: center

.page.food-truck-tuesdays .tuesday-sidebar
  ul
    position: relative
    margin-left: auto
    margin-right: auto
    list-style: none
    li
      .image-container
        position: relative
        margin-left: auto
        margin-right: auto
        text-align: center
        margin-bottom: 8px
      .text
        position: relative
        margin-left: auto
        margin-right: auto
        margin-bottom: 12px
      p
        color: #000
  
/************************************************/
/* global  footer                                                              */
/************************************************/

#global-footer
  h1, h2, h3, h4, h5, h6
    color: #FFF
  
#global-footer
  background-color: #3a5c5b
  padding-top: 48px
  padding-bottom: 14px 
  color: #fff
  font-size: 16px
  .footer-col
    padding-bottom: 16px
    margin-bottom: 16px
    border-bottom: 1px solid #1d4544
  #footer-news
    h3
      text-transform: uppercase
      padding-bottom: 12px
      font-family: "lexia", sans-serif
      font-weight: 400
    article
      border-bottom: 1px solid #1d4544
      padding-top: 12px
    article.last
      border-bottom: 0
    a
      text-decoration: none
      font-family: "lexia", sans-serif
      font-weight: 400
      color: #fff       

#footer-contact
  h3
    padding-bottom: 17px
    text-transform: uppercase
  ul
    list-style: none
    margin-left: 0
    li
      list-style-position: inside
      padding-bottom: 0px

.footer-contact-links
  a
    color: #fff
    display: block
    text-decoration: none
    padding-bottom: 8px
    
#footer-tweets a
  color: #3ea9a3
  text-decoration: none
      
/************************************************/
  /*   footer #outreach                                                 */    
/************************************************/
     
#outreach
  margin-bottom: 40px
  
#global-footer #outreach #social-ctas
  position: relative
  margin-left: auto
  margin-right: auto
  padding-top: 12px
  border: 2px solid #fff
  margin-bottom: 15px  
  max-width: 398px  
  h3
    font-size: 17px 
  ul
    background-color: transparent
    margin-bottom: 12px
  li
    height: 24px
    overflow: visible
  .social-link-yelp
    height: 28px
    
 
#global-footer #footer-email-invitation
  position: relative
  margin-left: auto
  margin-right: auto
  max-width: 400px
  margin-bottom: 40px
  border: 1px solid #fff
  .first
    background-color: #9badad
    color: #2a514c
    width: 100%
    span
      height: 40px
  .second
    height: 30px
    border-radius: 0 !important
    background-color: #e86d20
    span
      background-color: transparent
      font-family: "lexia", serif !important

        
.footer #booking-cta
  padding-top: 30px
  .cta-text
    margin-bottom: 32px
  h3
    font-size: 18px
    padding-bottom: 12px
    color: #FFF
    padding-bottom: 4px
  a
    color: #3ea9a3
  .deck
    display: block
    height: 70px
    background-image: url("../img/illustrations/deck.png")    
    background-repeat: no-repeat
    background-position: 50% 50%
    margin-bottom: 18px
    
/************************************************/
/* now we include styles for wider screens     */
/************************************************/
    
@media all and (min-width: 768px)
  @import  "tablet"
  
@media all and (min-width: 960px)
  @import "desktop"   
