@import "bourbon/bourbon"
@import "neat/neat"

#frontpage-events .title-container 
  h2
    text-align: center
    padding-bottom: 14px

#frontpage-events .events-row.mobile-only nav
  position: relative
  margin-left: auto
  margin-right: auto
  margin-bottom: 8px
  width: 200px
  height: 40px
  span
    display: inline-block
    width: 70px
    height: 40px
    cursor: pointer
    cursor: hand
    background-image: url("../img/sprite-pointer.jpg")
  .pointer-right
    float: right
    background-position: 70px 0
  .pointer-left
    float: left
        
#frontpage-events .events-row.mobile-only  .event-pane
  position: relative 
  margin-left: auto 
  margin-right: auto
  margin-bottom: 28px
  width: 98%
  max-width: 145px
  overflow: hidden
  li
    .image-container
      position: relative
      margin-left: auto
      margin-right: auto
      width: 145px
      margin-bottom: 14px
      img
        display: block
        text-align: center
        position: relative
        margin-left: auto
        margin-right: auto
    img, p, a
      text-align: center
    p, a
      font-family: "lexia", sans-serif
      font-size: 16px
      color: #000
      margin-bottom: 8px
      
.events-row .pointer
  display: none

@media all and (min-width: 768px)
  @import  "events_tablet"
